@charset "utf-8";
/* CSS Document */


/*header*/
header {
	height: auto;
	overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header-inner {
	max-width: 1280px;
	margin: auto;
}
/*상단의 로그인 부분*/
.header-login {
	height: 20px;
	margin: 10px 0;
}
.hd-login-wrap { float: right; }
.hd-login {
	float: left;
	height: 13px;
	margin-right: 8px;
	padding-right: 8px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	color: #555;
	display: inline-block;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.hd-login a { font-size: 14px; }
.hd-login:last-child {
	margin-right: none;
	padding-right: none;
	border-right: none;
}


/*헤더 로고*/
.header-logo-wrap {
	height: 65px;
	margin-bottom: 5px;
}
.header-logo {
    float:left;
    width: 190px;
    margin: auto;
    margin-top: 10px;
}
.minheader-ham {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 35px;
    cursor: pointer;
    display: none;
}
.btn-ham {
	width: 35px;
    height: 2px;
    margin-bottom: 11px;
    background-color: #333;
}

/*헤더의 메뉴 부분*/
 .header-menu {
    float: right;
	width: 600px;
	height: 60px;
}
.gnb  {
	float: left;
	width: 25%;
	height: inherit;
	color: #616161;
	font-size: 17px;
	text-align: center;
	line-height: 65px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.gnb:hover {
	color: #888;
}


/*----------------------------------------민헤더 부분-----------------------------------------*/

/*drawer-wrap*/
.drawer-popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
    z-index: 999;
}
.popup-on {
	opacity: 1;
	visibility: visible;
}
.drawer {
	position: fixed;
	top: 0;
    left: -100%;
    bottom: 0;
	width: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
}
.drawer::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.drawer-on { left: 0; }
/*drawer*/
.drawer-body {
    width: 85%;
	height: 100%;
    overflow-x: hidden;
    padding-bottom: 300px;
    background-color: #fff;
	color: #555;
	z-index: 1000;
}
.drawer-xbtn {
    position: absolute;
    top: 0;
    left: 85%;
	width: 15%;
    height: 60px;
	cursor: pointer;
}
.drawer-xbtn img { vertical-align: middle; }

/*드로워 로그인, 회원가입, 블로그*/
.drawer-header {
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #e8e8e8;
}
.drawer-header a {
	float: left;
	width: 50%;
    height: 70px;
    background-color: #fff;
	text-align: center;
    line-height: 70px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.drawer-header a:first-child { border-right: 1px solid #e8e8e8; }

/*드로워 카테고리*/
.nav-list { width: 100%; margin: 60px 0; }
.nav-list a {
    text-align: center;
	line-height: 45px;
	font-weight: 500;
    -webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.list-line { width: 30px; height: 1px; margin: auto; margin-top: 40px; margin-bottom: 40px; background-color: #000; }
.list2 { margin-top: 60px; }
.list2 a {
    text-align: center;
	line-height: 35px;
    -webkit-transition: all 0.5s;
	transition: all 0.5s;
    font-size: 15px;
}
.nav-list a:hover { font-weight: bold; }

/*드로워 커뮤니티*/
.drawer-board-title {
    width: 100%;
	height: 60px;
    padding-left: 40px;
	line-height: 60px;
    color: #fff;
	font-size: 18px;
	font-weight: 500;
    background-color: #333;
}
.drawer-board a {
	width: 100%;
	height: 60px;
    padding-left: 12%;
	border-bottom: 1px solid #f1f1f1;
	line-height: 60px;
	background-color: #e7e7e7;
}
.drawer-board a:hover {
	font-weight: 600;

}

/*----------------------------------------footer-----------------------------------------*/
footer {
	margin-top: 120px;
    text-align: center;
}
/*footer-top에서 회색 줄에 sns logo 배열*/
.footer-top {
	height: 65px;
	background-color: #f6f6f6;
	text-align: center;
}
.footer-sns {
	width: 30px;
	margin-top: 17px;
	margin-right: 27px;
	display: inline-block;
}
.footer-sns:last-child { margin-right: 0; }

/*footer-내용과 글*/
.footer-inner {
	max-width: 1280px;
	margin: auto;
    padding-top: 50px;
    padding-bottom: 60px;
}
.footer-logo {
	position: absolute;
	top: 60px;
	left: 5%;
}
.footer-text p {
	line-height: 22px;
}
.footer-tex1 {
	margin-right: 10px;
	display: inline-block;
    font-size: 14px;
}
.footer-tex2 { font-size: 14px; }
.ft-span1 { margin-right: 3px; color: #555; font-weight: bold; font-size: 14px; }
.footer-tex3 { margin-top: 14px; font-size: 13px; }


/* -------------------------------- 메인 슬라이더 -------------------------------- */

/*메인슬라이더*/

.carousel {
	width: 100%;
    height: auto;
	overflow: hidden;
	margin: auto;
}
.carousel _inner { width: 100%; }
.carousel .carousel_inner li {
	position: relative;
    width: 100%;
    float: left;
}
.carousel_center {
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -35px;
}
.carousel_center a { color: #fff; }
.carousel_left {
	float: left;
	width: 45px;
	height: 65px;
	padding-left: -10px;
	opacity: 0.5;
	text-align: center;
	line-height: 65px;
	font-size: 45px;
}
.carousel_right {
	float: right;
	width: 45px;
	height: 65px;
	opacity: 0.5;
	text-align: center;
	line-height: 65px;
	font-size: 45px;
}
.carousel_button {
	width: 14px;
	height: 14px;
	display: inline-block;
	border-radius: 50%;
	background-color: #c9c9c9;
	padding: none;
 }
.carousel_buttons {
	width: 100%;
	position: absolute;
	left: 50%;
	bottom: 18px;
	margin-left: -33px;
}
.carousel_buttons li {
	float: left;
	margin-right: 10px;
	cursor: pointer;
}
.active-carousel {
	background-color: #555;
}

/*슬라이더 텍스트*/

.mainbg1-wrap {
	position: absolute;
	top: 23%;
    left: 30%;

}
.mainbg1-text1 {
	margin-top: 10%;
    color: #346635;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}
.mainbg1-text2 {
    margin-top: 20px;
	font-size: 20px;
    font-weight: bold;
	text-align: center;
	-webkit-animation: opacity-ani 3s;
	animation: opacity-ani 3s;
}
.mainbg2-wrap {
	position: absolute;
	top: 20%;
	left: 50%;
	width: 600px;
	height: 200px;
	margin-left: -300px;
	color: #333;
    font-size: 24px;
	font-weight: bold;
	text-align: center;
	-webkit-animation: opacity-ani 2.3s;
	animation: opacity-ani 2.3s;
}

.mainbg3-text1 {
	position: absolute;
	top: 28%;
	left: 30%;
	width: 450px;
	height: 100px;
	color: #333;
	font-size: 30px;
	font-weight: bold;
	line-height: 100px;

}
.mainbg3-text2 {
	position: absolute;
	top: 28%;
	left: 30%;
	margin-top: 75px;
	color: #a48b25;
	font-size: 24px;
    font-weight: bold;
    -webkit-animation: opacity2-ani infinite 3s;
	animation: opacity2-ani infinite 3s;
}
.caviar { color: #224289; }
.mainbg3-text3 {
	position: absolute;
	top: 28%;
	left: 30%;
	margin-top: 125px;
	color: #454545;
	font-size: 20px;
    font-weight: bold;
	-webkit-animation: opacity-ani 1s;
	animation: opacity-ani 1s;
}
/*애니메이션*/
@-webkit-keyframes opacity-ani {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes opacity-ani {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes opacity2-ani {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes opacity2-ani {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
 }


/* -------------------------------- 인덱스 부분 -------------------------------- */


/*main-product*/
.main-section { margin-top: 65px; background-color: #f2f2f2; padding: 80px 0; }
.main-section p { text-align: center; color: #333; font-size: 26px; margin-bottom: 40px; }
.main3-wrap { max-width: 1280px; margin: auto; overflow: hidden; }
.main-product-wrap {
    float: left;
	width: 30%;
    height: auto;
    overflow: hidden;
    padding: 20px;
    margin: 0 1.7%;
    padding-top: 80px;
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.main-product-wrap:last-child { margin-right: 0; }
.mainproduct-img {
	width: 100%;
	padding-top: 60%;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.mainproduct-sub {
	width: 100%;
    height: 20px;
    margin-bottom: 10px;
	overflow: hidden;
	color: #333;
	font-size: 18px;
    line-height: 20px;
	font-weight: bold;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.mainproduct-sub a { display: inline-block; }
.mainproduct-sub a:hover { text-decoration: underline; }
.mainproduct-text { text-align: center; }
.mainproduct-tex {
	width: 100%;
    height: 120px;
    overflow: hidden;
	overflow: hidden;
	color: #b7b7b7;
	font-size: 15px;
}

.main-section3 {
    height: auto;
    overflow: hidden;
    margin-top: 40px;
}
.main3-left { width: 50%; height: 367px; float: left; }

.main3 {
    width: 100%;
    height: 367px;
    background-image: url(../images/main_section3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.main3 p {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
    width: 100%;
    margin: auto;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}



.main3-right { width: 50%; height: 367px; float: left; background-color: #9acc99; }
.main3-right h1 {
    margin-top: 11%;
    margin-left: 9%;
    color: #346635;
    font-size: 23px;
    font-weight: bold;
}
.main3-right h2 {
    margin-top: 20px;
    margin-left: 9%;
    color: #fff;
    font-size: 16px;
}
.main3-right h3 {
    height: 43px;
    line-height: 43px;
    padding-left: 20px;
    padding-right: 18%;
    display: inline-block;
    margin-top: 40px;
    margin-left: 9%;
    color: #346635;
    font-size: 16px;
    font-weight: bold;
    background-color: #679966;
}

/* -------------------------------- 카테고리 부분 -------------------------------- */

/*섹션 카테고리*/
.category-wrap { padding: 0px; }
.section-title {
	height: 50px;
	margin: auto;
	margin-top: 80px;
	color: #555;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}
.section-category {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 60px;
}
.category-inner {
	max-width: 1280px;
    height: auto;
    margin: auto;
    overflow: hidden;
	color: #888;
}
.category { width: 100%; }
.category li {
    float: left;
    width: 25%;
    height: 60px;
    border-right: 1px solid #e8e8e8;
    text-align: center;
    line-height: 60px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.category li:first-child { border-left: 1px solid #e8e8e8; }
.category-sel { color: #000; font-weight: bold; }

.fixed-category {
    -wekit-transition: all 0.5s;
	transition: all 0.5s;
}
.category-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
}
/* -------------------------------- 섹션 부분 --------------------------------  */

.content { max-width: 1280px; height: auto; overflow: hidden; margin: auto; }

/* 브랜드 */
.brand, .corporate, .organization, .direction {
    max-width: 1280px;
    height: auto;
    margin: auto;
    overflow: hidden;
    text-align: center;
}
.border1 { width: 100%; border-bottom: 1px solid rgba(0, 0, 0, 0.2); margin: 160px 0; }
.brand-h1 { font-size: 27px; margin-bottom: 30px; }

/*brand*/
.brand-img { width: 100%; padding-top: 23%; overflow: hidden; opacity: 0.9; }
.brand-text { margin-top: 110px; }
.brand-title { font-size: 36px; color: #614137; margin-bottom: 30px; }
.brand-p { color: #000; font-size: 21px; margin: 30px 0; }
.br-span1 { font-size: 1.750em; }
.brand { color: #333; line-height: 1.5; }

/*ci*/
.ci-image { max-width: 650px; margin: auto; margin-top: 80px; }
.corporate-text { margin-top: 80px; text-align: center; }
.corporate p { margin: 5px 0;}

/*organization*/
.organization-img { max-width: 850px; margin: auto; margin-top: 100px; }

/*direction*/
.direction { margin-bottom: 150px; }
.direction-map { max-width: 980px; padding-top: 40%; margin: auto; margin-top: 100px; border: 1px solid #e8e8e8; }
.direction p { margin-top: 20px; font-size: 15px; text-align: center; }


/* -------------------------------- PRODUCT 부분 -------------------------------- */

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* PRODUCT */

.product-wrap {
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top:  30px;
}
.product-img {
    max-width: 760px;
    padding-top: 33.5%;
    margin: auto;
    margin-bottom: 80px;
}
.product-wrap h1 {
    color: #333;
    font-size: 30px;
    text-align: center;
}
.product-wrap h2 {
    color: #b7b7b7;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.product-border {
    max-width: 960px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 150px;
    border-bottom: 1px solid #313131;
    color: #313131;
    font-size: 18px;
    line-height: 45px;
    letter-spacing: 1.5px;
}
.product-image {
    max-width: 800px;
    margin: auto;
}

/* -------------------------------- 게시판-------------------------------- */


/*search*/
.search-wrap { width: 100%; height: auto; overflow: hidden; margin-top: 70px; margin-bottom: 50px; }
.board-search {
	float: right;
	width: 315px;
	height: 50px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.input-search-wrap { margin-right: 45px; }
.input-search {
    width: 100%;
	height: 50px;
	border: none;
	padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.input-search-img {
	position: absolute;
    top: 7px;
    right: 0;
	width: 40px;
}

/*게시판*/
.board-wrap { margin-top: 120px; }
.board-table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}
.board-table th {
	height: 40px;
	padding: 15px 0;
    border-top: 1px solid #333;
	border-bottom: 1px solid #e8e8e8;
    color: #333;
    font-weight: bold;
}
.board-table td {
	height: 40px;
	padding: 15px 20px;
	border-bottom: 1px solid #e8e8e8;
}
td.board-subject { text-align: left; }
.board-subject a { display: inline-block; }



/* 읽기 게시판 */


.board-read {
    margin: 80px 0;
    border-top: 1px solid #666;
    border-bottom: 1px solid #e8e8e8;
}
.read-head {
    padding: 0 20px 10px 20px;
    border-bottom: 1px solid #e8e8e8;
}
.read-subject {
    width: 100%;
    height: 90px;
    line-height: 90px;
    color: #333;
    font-size: 27px;
}
.read-info { height: auto; overflow: hidden; }
.read-info p {
    color: #767676;
    font-size: 15px;
    display: inline-block;
    margin-right: 20px;
    line-height: 28px;
}
.read-info .left { float: left; }
.read-info .right { float: right; }
.read-info p .span-info {
    color: #565656;
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
}
.read-section {
    padding: 60px 15px;
    text-align: left;
    line-height: 1.4;
}
.read-section .view_con {
    padding: 60px 15px;
    text-align: left;
    line-height: 1.5;
}

/*게시판 목록 버튼*/
.board-btn-page {
	width: 100%;
	margin-top: 35px;
	margin-bottom: 10px;
	text-align: right;
}
.board-btn-page a  {
	height: 55px;
    padding: 0 30px;
    margin-left: 12px;
	background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
	color: #777;
	font-size: 17px;
	text-align: center;
	line-height: 55px;
	display: inline-block;
}




/* 댓글 */



/* 댓글 리스트 */

.comment-page { /* 댓글 페이지 */
    padding: 40px 0;
    margin-top: 50px;

}
.comment-page .p { /* 댓글 타이틀 */
    padding-left: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

/* 댓글 */
.comment-box { /* 댓글 1개 섹션 */
    width: calc(100% - 32px);
    height: auto;
    overflow: hidden;
    padding: 0 15px;
    border-bottom: 1px dotted #e8e8e8;
}
.comment-box:hover { background-color: #f9f9f9; }

.comment-top {
    height: 45px;
    margin-bottom: 5px;
}

/*댓글 버튼 섹션*/
.comment-right {
    float: right;
    height: 45px;
}
.comment-btn { /*댓글의 수정삭제 버튼*/
    float: left;
    height: 15px;
    line-height: 15px;
    margin-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #e8e8e8;
    color: #999;
    font-size: 14px;
    cursor: pointer;
}
.comment-btn:last-child { border-right: none; }
.comment-btn:hover { text-decoration: underline; }


/*댓글 작성 정보*/
.comment-left {
    float: left;
    height: 45px;
}
.comment-witer {
    float: left;
    height: 25px;
    margin-right: 15px;
    line-height: 45px;
    color: #555;
    font-size: 14px;
    font-weight: bold;
}
.comment-date {
    float: left;
    height: 25px;
    line-height: 45px;
    color: #818181;
    font-size: 14px;
    letter-spacing: -0.5px;
}

/* 댓글 내용 */
.comment-section {
    margin-bottom: 25px;
    color: #717171;
    font-size: 14px;
    letter-spacing: 0.1px;
}


/* 댓글 등록하기 창 */
.board-comment {
    width: 100%;
    height: 140px;
    margin-top: 40px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.comment-text-wrap {
    margin-right: 135px;
    padding-left: 20px;
    font-size: 14px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.comment-contents { /* 댓글입력란 textarea */
    width: 100%;
    height: 90px;
    margin: 25px 0px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.comment-write-btn { /* 댓글 등록하기 버튼 */
    position: absolute;
    top: 27px;
    right: 20px;
    width: 95px;
    height: 86px;
    background-color: #36a2f6;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 86px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}




/*페이지 btn*/
.pagin-wrap { height: 30px; margin-top: 40px; text-align: center; }
.num-wrap { display: inline-block; text-align: center; }
.num-wrap li { display: inline-block; line-height: 20px; padding: 0 5px; }
.prev { display: inline-block; margin-right: 15px; width: 14px; line-height: 15px; }
.next { display: inline-block; margin-left: 15px;  width: 14px; line-height: 15px; }
.num { display: inline-block; line-height: 20px; padding: 0 5px; }
.num-sel { font-weight: bold; }



/*글쓰기 섹션(contents)*/
.board-table .read-subject { padding: 10px 20px; }
.write-subject {
	width: 100%;
	height: 30px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
}
.write-section { width: 100%; margin: 20px 0; }
.write-section .write {
	width: 100%;
	height: 400px;
	overflow-y: scroll;
	border: 1px solid #e1e1e1;
	padding: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.board-table .write-section { padding: 10px 7px 10px 1px; }
/*게시판 첨부파일*/
.find-file {
	width: 100%;
	text-align: left;
}
.input-find-file {
	float: left;
	width: 500px;
	height: 50px;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.find-file-btn {
    float: left;
    height: 48px;
	padding: 0 15px;
	margin-left: 15px;
	border: 1px solid #cfcfcf;
	color: #888;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

/*게시판 썸네일 부분*/

.board-write {
    margin: 80px 0;
    border-top: 1px solid #666;
}
.board-write .read-head { /* 글쓰기 게시판 읽기 게시판의 설정 해제 */
    margin: 0;
    padding: 0;
}
.board-write .write-section { /* 글쓰기 게시판 읽기 게시판의 설정 해제 */
    margin-bottom: 0;
}
.thumnail-table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.thumnail-table td {
	height: 40px;
	padding: 15px 0;
	border-bottom: 1px solid #e8e8e8;
}
.thumnail-table .input-find-file {
	margin-left: 0.8%;
}
.thumnail-table .read-thumnail {
	margin-left: 20px;
	text-align: left;
}
.thumnail-image {
    float: left;
	width: 8.4%;
	padding-top: 9%;
	margin: 0 0.8%;
    margin-bottom: 4px;
	border: 1px solid #A8A8A8;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.thumnail-image img { width: 100%; height: 100%; }

/* -------------------------------- faq 아코디언-------------------------------- */

.faq-margin { margin-top: 120px; }
.faq-product {
    height: 70px;
    margin-bottom: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 16px;
}
.faq-product a {
    float: left;
    padding: 0 4%;
    line-height: 70px;
    background-color: #fff;
    color: #777;
}
.faq-product-sel {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
}
.faq-wrap {
    height: auto;
    overflow: hidden;
    margin-top: 110px;
    border-top: 1px solid #edefef;
}
.faq-exp {
	padding-top: 35px;
	padding-bottom: 35px;
    padding-left: 3%;
    padding-right: 3%;
    border-bottom: 1px solid #edefef;
    cursor: pointer;
    font-size: 18px;
    vertical-align: center;
}
.faq-write-section {
    padding: 4% 5%;
    height: auto;
    overflow: hidden;
	border-bottom: 1px solid #edefef;
	display: none;
}
.faq-exp .faq { color: #333; font-weight: bold; margin-right: 7px;}


/* 리뷰 */

.review { max-width: 1280px; height: auto; overflow: hidden; margin: auto; padding: 0px; }  /*리뷰섹션*/

.review-title { color: #333; font-size: 55px; margin-top: 80px; font-weight: 100; }
.review-content { margin: 0 20px; }  /* 리뷰페이지 마진값 조정 */
.review-page { height: auto; overflow: hidden; }
.review-box {
	float: left;
	width: 33.3%;
	padding:  0 20px;
	margin-bottom: 80px;
    box-sizing: border-box;
    -mox-box-sizing: border-box;
}
.review-photo {
	width: 100%;
	padding-top: 66%;
	overflow: hidden;
}
.review-sub {
	width: 100%;
	margin-top: 20px;
    margin-bottom: 6px;
	overflow: hidden;
	color: #555;
}
.review-date {
	width: 100%;
	overflow: hidden;
	color: #b3b3b3;
	font-size: 15px;
}
.review-sub a { display: inline-block; }


/* 로그인 */
.login-page {
	width: 650px;
	height: 400px;
	margin: 0 auto;
	margin-top: 170px;
	margin-bottom: 50px;
	padding: 10px;
	border: 2px solid #555;
}
.login-title {
	height: 50px;
	margin: auto;
	margin-top: 55px;
	color: #555;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}
.login-wrap {
	width: 402px;
	margin: 0 auto;
	margin-top: 55px;
}
.login-text {
    text-align: center;
    color: #565656;
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
    letter-spacing: 0.5px;
}
.input-login {
	width: 400px;
	height: 60px;
    padding: 0 20px;
    margin-bottom: 20px;
	border: 1px solid #cfcfcf;
	background-color: #fff;
    line-height: 60px;
    font-size: 15px;
    box-sizing: border-box;
    -mos-box-sizing: border-box;
}
/* 로그인 페이지 아이디비밀번호찾기 */
.login-find {
	width: 402px;
	height: 45px;
	margin-top: 40px;
}
.login-find a {
	float: left;
	width: 50%;
    height: 45px;
	background-color: #e8e8e8;
	font-size: 15px;
	text-align: center;
	line-height: 45px;
    box-sizing: border-box;
    -mos-box-sizing: border-box;
}
.login-find a:first-child { border-right: 2px solid #fff; }


/*회원가입 버튼, 찾기 페이지 공통사용*/
.joinpage-btn a {
	width: 160px;
	height: 60px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #333;
	color: #fff;
	font-size: 17px;
	text-align: center;
	line-height: 60px;
    letter-spacing: 1.2px;

}
.join-p { font-weight: bold; margin-top: 60px; margin-bottom: 40px; }
.login-section { max-width: 1280px; margin: auto; }


/*회원가입*/
.join-title {
	height: 65px;
	margin: auto;
	margin-top: 110px;
    color: #333;
	font-size: 30px;
	line-height: 65px;
    border-bottom: 2px solid #e8e8e8;
}
.find-title {
	height: auto;
	overflow: hidden;
	text-align: center;
	margin-top: 95px;
	margin-bottom: 60px;
	color: #555;
	font-size: 18px;
	font-weight: bold;
}
.join-table {
    width: 760px;
    margin: auto;
    margin-top: 80px;
	margin-bottom: 45px;
	border-collapse: collapse;
}

.join-th {
	height: 50px;
    padding: 15px 0;
    padding-right: 5px;
}
.join-td { padding: 8px 0px; }


/* 인풋 공통사용 */
.input-join {
    float: left;
	width: 280px;
	height: 50px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	padding: 0 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.join-number { /* 휴대전화 */
	float: left;
	width: 140px;
	height: 50px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
    padding: 0 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.join-mail {
    float: left;
	width: 180px;
	height: 50px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	padding: 0 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.accordion-email {
	float: left;
	width: 180px;
	height: 50px;
	padding: 0 15px;
	margin-left: 15px;
	border: 1px solid #cfcfcf;
	background-image: url(../images/select_arrow.png);
    background-repeat: no-repeat;
    background-position: 93.5% 50%;
	background-size: 22px;
	padding-right: 22px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.phone-bar { /* 휴대전화와 이메일 기호 */
	float: left;
	line-height: 50px;
	margin: 0 10px;
    font-size: 21px;
}

.input-subject {
    width: 100%;
    height: 50px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
    padding: 0 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/*회원가입 테이블의 width값 조정*/
.join-box {
	float: left;
	width: 250px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
}

.find-info { padding-left: 30px; font-size: 21px; }

/*중복확인 버튼*/
.check-btn {
	float: left;
    width: 80px;
	height: 50px;
	margin-left: 15px;
    background-color: #333;
	color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
}


.ui-content .h1 {
	text-shadow: 1px 0 0 #fff;
	font-size: 17px;
	color: #5e87b0;
}
.wordbreak {
	overflow: visible;
	white-space: normal;
}
div#map {
	max-width: 980px;
	height: 400px;
    margin: auto;
	border: 4px solid white;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.map { max-width: 980px; }
#toTop {
    position: fixed;
    right: 35px;
	bottom: 35px;
	width: 45px;
    height: 43px;
	background: #afafaf;
    background-image: url(../images/top.png);
    background-position: 50% 50%;
    background-size: 30px;
    background-repeat: no-repeat;
	text-align: center;
	z-index:1030;
	cursor: pointer;
	display: none;
	color: #333;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	padding: 5px;
}
