/* Title */
.xans-myshop-orderhistoryapplyreturn .title { margin:40px 0 10px 10px; }
.xans-myshop-orderhistoryapplyreturn .title h3 { color:#353535; font-size:12px; }
    .xans-myshop-orderhistoryapplyreturn .title:first-child { margin-top:0; }

/* List */
.xans-myshop-orderhistoryapplyreturn .boardList { border:1px solid #d7d5d5; color:#353535; line-height:1.5; }
.xans-myshop-orderhistoryapplyreturn .boardList th { padding:11px 0 9px; border-left:1px solid #e9e9e9; font-weight:normal; vertical-align:middle; background:#fbfafa; }
.xans-myshop-orderhistoryapplyreturn .boardList th:first-child { border-left:0; }
.xans-myshop-orderhistoryapplyreturn .boardList td { padding:8px 0 5px; border-top:1px solid #e9e9e9; text-align:center; vertical-align:middle; }
.xans-myshop-orderhistoryapplyreturn .boardList td a { color:#353535; }
.xans-myshop-orderhistoryapplyreturn .boardList input[type=radio],
.xans-myshop-orderhistoryapplyreturn .boardList input[type=checkbox] { width:13px; height:13px; }
.xans-myshop-orderhistoryapplyreturn .boardList .number { width:135px; }
.xans-myshop-orderhistoryapplyreturn .boardList .chk { width:30px; }
.xans-myshop-orderhistoryapplyreturn .boardList .product { width:auto; }
.xans-myshop-orderhistoryapplyreturn .boardList .quantity { width:60px; }
.xans-myshop-orderhistoryapplyreturn .boardList .price { width:110px; }
.xans-myshop-orderhistoryapplyreturn .boardList .state { width:110px; }
.xans-myshop-orderhistoryapplyreturn .boardList td .line { text-decoration:underline; }
.xans-myshop-orderhistoryapplyreturn .boardList td.number { letter-spacing:-1px; }
.xans-myshop-orderhistoryapplyreturn .boardList td.product { text-align:left; vertical-align:top; }
.xans-myshop-orderhistoryapplyreturn .boardList td.product a { color:#353535; }
.xans-myshop-orderhistoryapplyreturn .boardList td.product p { padding:0 0 0 90px; }
.xans-myshop-orderhistoryapplyreturn .boardList td.product .thumb { float:left; }
.xans-myshop-orderhistoryapplyreturn .boardList td.product .thumb img { width:80px; }
.xans-myshop-orderhistoryapplyreturn .boardList td.product div.option,
.xans-myshop-orderhistoryapplyreturn .boardList td.product ul.option > li { margin:9px 0 0 90px; color:#757575; line-height:16px; }
.xans-myshop-orderhistoryapplyreturn .boardList td.product ul.option > li > strong { display:block; color:#353535; }
.xans-myshop-orderhistoryapplyreturn .boardList td.product .free { margin:5px 0 0; }
.xans-myshop-orderhistoryapplyreturn .boardList td.state { color:#008bcc; }

/* Write */
.xans-myshop-orderhistoryapplyreturn .boardWrite { border:1px solid #d7d5d5; }
.xans-myshop-orderhistoryapplyreturn .boardWrite table { table-layout:fixed; color:#353535; line-height:1.5; }
.xans-myshop-orderhistoryapplyreturn .boardWrite th { width:120px; padding:11px 0 9px 19px; border-top:1px solid #e9e9e9; border-right:1px solid #e9e9e9; font-weight:normal; text-align:left; background:#fbfafa; }
.xans-myshop-orderhistoryapplyreturn .boardWrite td { width:auto; padding:8px 0 7px 10px; border-top:1px solid #e9e9e9; color:#757575; vertical-align:middle; }
.xans-myshop-orderhistoryapplyreturn .boardWrite tbody tr:first-child th,
.xans-myshop-orderhistoryapplyreturn .boardWrite tbody tr:first-child td { border-top:0; }
.xans-myshop-orderhistoryapplyreturn .boardWrite img { vertical-align:middle; }
.xans-myshop-orderhistoryapplyreturn .boardWrite a { text-decoration:none; }
.xans-myshop-orderhistoryapplyreturn #reason_detail { width:540px; }

/* Button */
.xans-myshop-orderhistoryapplyreturn .btnArea { margin:20px 0 0; text-align:center; }