.xans-myshop-orderhistoryhead fieldset { margin:20px 0 0; padding:23px 20px; border:5px solid #e8e8e8; }
.xans-myshop-orderhistoryhead fieldset img { vertical-align:middle; }
.xans-myshop-orderhistoryhead fieldset span { margin:0 14px 0 5px; }
.xans-myshop-orderhistoryhead fieldset span a { margin:0 0 0 -5px; }
.xans-myshop-orderhistoryhead fieldset .fText { width:72px; height:22px; margin:0 0 0 2px; padding:0 6px; border:1px solid #d5d5d5; line-height:22px; font-family:verdana,sans-serif; font-size:11px; }
.xans-myshop-orderhistoryhead fieldset button { width:14px; height:14px; margin:0 5px 0 2px; background:none; }

.xans-myshop-orderhistoryhead ul { margin:10px 0 0; color:#939393; line-height:1.5; }
.xans-myshop-orderhistoryhead ul li { padding:0 0 0 9px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_info.gif") no-repeat 4px 7px; }