.xans-myshop-wishlistbutton { overflow:hidden; margin:20px 0 0; text-align:right; *zoom:1; }
.xans-myshop-wishlistbutton span.left { float:left; }
.xans-myshop-wishlistbutton .ctrlTxt { margin:0 6px 0 10px; color:#353535; line-height:24px; }