@charset "utf-8";
/* CSS Document */




/*                새로운 css 적용               */


/*header*/
header {
	height: 77px;
	overflow: hidden;
    background-color: #000;
    border-bottom: 1px solid #333;
}

/*헤더 로고*/
.header-logo-wrap {
    float: left;
}
.header-logo {
    width: 80px;
    margin-top: 23px;
    margin-left: 30px;
}

/*헤더 로그인*/
.header-login {
    float: right;
    margin-right: 30px;
    line-height: 77px;
}
.header-login a {
    float: left;
    color: #fff;
    font-size: 12px;
    margin-left: 17px;
}


/*헤더의 메뉴 부분*/
 .gnb-wrap {
     position: absolute;
     top: 0;
     left: 50%;
     margin-left: -286px;
}
.gnb  {
    float: left;
    margin: 0 30px;
	color: #fff;
	font-size: 15px;
    line-height: 77px;
    font-weight: 100;
    text-align: center;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.gnb:hover {
	color: #cccccc;
}


/*----------------------------------------민헤더 부분-----------------------------------------*/


.minheader-ham {
    position: absolute;
    top: 6px;
    left: 17px;
    width: 22px;
    cursor: pointer;
    display: none;
}
.btn-ham {
    height: 1px;
    margin-bottom: 7px;
    background-color: #fff;
}

/*drawer-wrap*/
.drawer-popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
    z-index: 999;
}
.popup-on {
	opacity: 1;
	visibility: visible;
}
.drawer {
	position: fixed;
	top: 0;
    left: -100%;
    bottom: 0;
	width: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
}
.drawer::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.drawer-on { left: 0; }
/*drawer*/
.drawer-body {
    width: 85%;
	height: 100%;
    overflow-x: hidden;
    padding-bottom: 300px;
    background-color: #fff;
	color: #555;
	z-index: 1000;
}
.drawer-xbtn {
    position: absolute;
    top: 0;
    left: 85%;
	width: 15%;
    height: 60px;
	cursor: pointer;
}
.drawer-xbtn img { vertical-align: middle; }

/*드로워 로그인, 회원가입, 블로그*/
.drawer-header {
	height: 65px;
    background-color: #fff;
	border-bottom: 1px solid #e8e8e8;
}
.drawer-header a {
	float: left;
	width: 50%;
    height: 65px;
	text-align: center;
    font-size: 12px;
    line-height: 65px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.drawer-header a:first-child { border-right: 1px solid #e8e8e8; }

/*드로워 카테고리*/
.nav-list {
    width: 100%;
    margin: 40px 0;
}
.nav-list a {
    font-size: 13px;
    text-align: center;
	line-height: 35px;
    -webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.list-line {
    width: 30px;
    height: 1px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #000;
}
.list2 {
    margin-top: 30px;
}
.list2 a {
    font-size: 12px;
    text-align: center;
	line-height: 30px;
    -webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.nav-list a:hover { font-weight: bold; }

/*드로워 커뮤니티*/
.drawer-board-title {
    width: 100%;
	height: 60px;
    padding-left: 40px;
	line-height: 60px;
    color: #fff;
	font-size: 18px;
	font-weight: 500;
    background-color: #333;
}
.drawer-board a {
	width: 100%;
	height: 60px;
    padding-left: 12%;
	border-bottom: 1px solid #f1f1f1;
	line-height: 60px;
	background-color: #e7e7e7;
}
.drawer-board a:hover {
	font-weight: 600;
    
}

/*----------------------------------------footer-----------------------------------------*/
footer {
    padding: 40px 0 35px 0;
    background-color:  #000;
    text-align: center;
}
/*footer-top에서 회색 줄에 sns logo 배열*/
.footer-top {
}
.footersns {
    display: inline-block;
    color: #fff;
    font-weight: 100;
    font-size: 14px;
    margin-left: 13px;
    padding-right: 15px;
    line-height: 15px;
    border-right: 1px solid #fff;
}
.footersns:hover { text-decoration: underline; }
.footersns:first-child {
    margin-left: 0;
}
.footersns:last-child {
    padding-right: 0px;
    border-right: none;
}
.footer-text {
    margin-top: 30px;
}
.footer-text p {
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.5px;
}
.footer-copyright {
    margin-top: 15px;
    color: #666;
    font-size: 14px;
    font-weight: 100;
}

#toTop {
    position: fixed;
    right: 35px;
	bottom: 35px;
	width: 45px;
    height: 43px;
	background: #afafaf;
    background-image: url(../images/top.png);
    background-position: 50% 50%;
    background-size: 30px;
    background-repeat: no-repeat;
	text-align: center;
	z-index:1030;
	cursor: pointer;
	display: none;
	color: #333;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
	padding: 5px;
}

/* -------------------------------- 브랜드 -------------------------------- */

.index-shop {
    padding: 120px 0 180px 0;
}
.brand-main-text {
    position: absolute;
    top: 22%;
    left: 0;
    margin-left: 0;
    width: 100%;
}
.main-h1 {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}
.main-p {
    margin-bottom: 20px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.section-h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.h1-bottom {
    width: 45px;
    height: 6px;
    margin: auto;
    margin-top: 30px;
    background-color: #000;
}

/* 브랜드02 */
.brand02 { 
    padding: 260px 0 300px 0; 
}
.brand02 .txt01 {
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 20px;
    text-align: center;
}
.brand02 .txt02 {
    margin-top: 80px;
    font-size: 45px;
    text-align: center;
}
.brand02 .txt03 {
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
}

/* 브랜드03 */
.brand03 {
    padding: 260px 0 0 0;
    background-color: #000;
}
.brand03 .txt01 {
    margin-top: 80px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.brand03 .txt02 {
    margin-top: 30px;
    color: #ceb483;
    font-size: 20px;
    text-align: center;
}
.brand03 .txt03 {
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
}
.brand03-wrap {
    max-width: 850px;
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top: 120px;
    color: #fff;
}
.brand03-what {
    max-width: 380px;
    float: left;
}
.brand03-what.right { float: right; }

.brand03-p1 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 25px;
}
.brand03box {
    padding-left: 25px;
    margin-top: 45px;
    border-left: 1px solid #bbb;
    color: #bbb;
}
.brand03-p2 { font-size: 18px; line-height: 10px; }
.brand03-p3 { margin-top: 30px; font-size: 15px; }

.color01 { color: #fff; }
.bg01 { background-color: #fff; }

/* 비디오 부분 */
.brand-video {
    width: 100%;
    padding-top: 42.7%;
    overflow: hidden;
    margin-top: 150px;
    background-image: url(../images/brand_01.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.brand-video-text {
    position: absolute;
	top: 50%;
	left: 50%;
    width: 400px;
    height: 160px;
    margin-left:  -200px;
    margin-top: -80px;
    padding-left: 20px;
	text-align: center;
}
.video-title {
    margin-bottom: 40px;
	font-size: 30px;
	color: white;
}
.brand-box {
    width: 160px;
    height: 60px;
    margin: auto;
    border: 1px solid #fff;
	color: #fff;
	font-size: 17px;
    text-align: left;
    padding-left: 5.5%;
    font-weight: 100;
    line-height: 60px;
    background-image: url(../images/btn_slide_next.png);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 95% center;
	transition: all 0.9s;
	-webkit-transition: all 0.9s;
	-moz-transition: all 0.9s;
	-o-transition: all 0.9s;
}
.brand-box:hover {
    background-color: #fff;
    color: #000;
    background-image: url(../images/btn_slide_next2.png);
}
/* 비디오 부분 */

/* 브랜드04 */
.brand04 { 
    padding: 260px 0 300px 0; 
}
.brand-tab-wrap {
    max-width: 1140px;
    margin: auto;
    margin-top: 80px;
}
.brand-tab {
    text-align: center;
}
.b-tab {
    margin: 0 7px;
    color: #ccc;    
    font-size: 25px;
    display: inline-block;
}
.b-tab:hover {
    cursor: pointer;
}
.b-tab-sel {
    color: #000;
    border-bottom: 2px solid #000;
}
.b-tview { display: none; }
.b-tview-sel { display: block; }

.brand-tview {
    margin-top: 130px;
}

/* 브랜드05 */
.br5 { margin-top:  11%; }
.brand05 {
    max-width: 1920px;
    padding-top: 66.67%;
    background-image: url(../images/brand_section05.jpg);
    background-size: cover;
}
.brand-map {
    width: 85%;
    margin: 0 7.5%;
    padding-top: 28%;
    margin-top: 5%;
}
.brand05p {
    margin-top: 3.5%;
}
.brand05p p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: 100;
}


/* ------------------------- 프로덕트 -------------------------- */

.product-nav {
    padding: 60px 0 40px 0;
    background-color: #000;
}
.product-wrap {
    max-width: 620px;
    margin: auto;
}

.pd-top {
    width: 46px;
    height: 6px;
    margin-bottom: 13px;
    background-color: #bcbcbc;
    opacity: 0;
}
.pd-category {
    float: left;
    width: 25%;
    height: auto;
    overflow: hidden;
    color: #bdbdbd;
    font-size: 17px;
}


/* -------------------------------- 프로세스 -------------------------------- */

.process01 { 
    padding: 170px 0 80px 0;
    background-color: #000;
}
.process-h1 {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}
.process-p1 {
    color: #e8e8e8;
    font-size: 22px;
    text-align: center;
    font-weight: 100;
    letter-spacing: 0.5px;
}
.process-tview-wrap {
    margin-top: 130px;
    height: auto;
    overflow: hidden;
    background-image: url(../images/ourprocess.jpg);
    background-repeat: no-repeat;
    background-position: 0 90%;
    background-size: 70%;
    padding-bottom: 43%;
}
.process-tab {
    max-width: 700px;
    height: auto;
    overflow: hidden;
    margin: auto;
    text-align: center;
}
.ps-tab {
    margin-right: 13%;
    display: inline-block;
}
.ps-tab:last-child { margin-right: 0; }
.ps-h1 {
    font-size: 26px;
    cursor: pointer;
    font-weight: 100;
    text-align: center;
}
/*프로세스h1border*/
.h1-top {
    width: 58px;
    height: 6px;
    margin-bottom: 18px;
    background-color: #fff;
    opacity: 0;
}
.process-tview {
    max-width: 920px;
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top: 165px;
    font-size: 15px;
}
.ps-tview { display: none; }
.ps-wrap {
    float: left;
    width: 19.5%;
    padding-top: 20%;
    overflow: hidden;
}
.ps-h {
    color: #e8e8e8;
    font-weight: 100;
    margin-left: 8%;
    margin-bottom: 10px;
    cursor: default;
}
.ps-borer {
    padding-top: 4px;
}
.ps-circle {
    position: absolute;
    top: 0;
    left:  0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
}
.ps-line {
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.ps-list {
    margin-top: 10px;
    margin-left: 8%;
}
.ps-list li {
    color: #e8e8e8;
    font-weight: 100;
    cursor: default;
	transition: all 0.9s;
	-webkit-transition: all 0.9s;
	-moz-transition: all 0.9s;
	-o-transition: all 0.9s;
}
.ps-list li:hover { color: #ceb483; }
.ps-circle-last {
    position: absolute;
    top: 0;
    right:  0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
}
.ps-circle-3 {
    position: absolute;
    top: 0;
    right:  0;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
    display: none;
}



/* 프로세스2 디테일 */

.process02 {
    padding: 170px 0 120px 0;
}
.process02 .process-p1 { color: #4d4d4d; }
.detail-wrap {
    max-width: 1266px;
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top: 130px;
}
.detail {
    float: left;
    width: 23.33%;
    overflow: hidden;
    margin: 0 5%;
    margin-bottom: 80px;
}
.detail-p1 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 25px;
    color: #4d4d4d;
    font-size: 20px;
    border-bottom: 1px solid #e8e8e8;
}
.detail-text {
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    padding-top: 35%;
}



/* 프로세스3 퍼포먼스 */
.process03 {
    padding: 170px 0 200px 0;
    background-color: #444;
}

.process03-wrap {
    width: 94%;
    height: auto;
    overflow: hidden;
    padding: 0 3%;
    margin-top: 140px;
}
.process03-video {
    float: left;
    width: 46%;
    padding-top: 25%;
    overflow: hidden;
    margin: 0 2%;
}


.abwrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}




/* SHOP */

.shop {
    padding: 120px 0 180px 0;
}
.process-h1 {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}
.shop-tab {
    max-width: 700px;
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top: 60px;
    text-align: center;
}
/*프로세스h1border*/
.h1-top2 {
    width: 38px;
    height: 6px;
    margin-bottom: 12px;
    background-color: #000;
    opacity: 0;
    margin-left: 1px;
}
.sp-tab {
    margin-right: 6%;
    display: inline-block;
}
.sp-tab:last-child { margin-right: 0; }
.sp-h1 {
    font-size: 20px;
    cursor: pointer;
    font-weight: 100;
    text-align: center;
}
.shop-tview {
    text-align: center;
}
.shop-wrap {
    max-width: 1140px;
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
}
.shop-p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.shop-img {
    max-width: 550px;
    margin: auto;
}
.shop-info {
    font-size: 13px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.shop-map {
    max-width: 1140px;
    padding-top: 25%;
    margin: auto;
    margin-top: 50px;
}

.shop2 {
    max-width: 1140px;
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
.total {
    float: left;
    width: 19%;
    margin: 0 3%;
    margin-top: 40px;
}
.total-text {
    padding: 15px 0;
    margin-top: 20px;
    font-size: 13px;
    font-weight: 100;
    text-align: center;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	-moz-transition: all 0.25s;
}
.total:hover .total-text {
    border-top: 1px solid #ceb483;
    border-bottom: 1px solid #ceb483;
}


/* -------------------------------- faq 아코디언-------------------------------- */


.faq-product {  /* faq 카테고리 부분 */
    height: auto;
    overflow: hidden;
    text-align: center;
    margin-bottom: 40px;
}
.faq-p {
    height: auto;
    overflow: hidden;
    color: #bdbdbd;
    font-size: 22px;
    font-weight: 300;
}
.faq-category-wrap { /* faq 카테고리 wrap */
    max-width: 620px;
    margin: auto;
    margin-top: 50px;
}
.faq-category {
    float: left;
    width: 175px;
    height: auto;
    overflow: hidden;
    color: #bdbdbd;
    font-size: 17px;
}
.faq-category.etc {  width: 95px; }
.faq-category-sel {
    color: #000;
}
.faq-top {
    width: 58px;
    height: 8px;
    margin-bottom: 20px;
    background-color: #e7141b;
    opacity: 0;
}
.faq-category a {
    text-align: left;
}
.faq-product-sel {
    color: #555;
}
.faq-wrap {
    height: auto;
    overflow: hidden;
    border-top: 1px solid #e8e8e8;
    color: #515c59;
}
.faq-exp {
    height: 75px;
    padding-left: 3.5%;
	line-height: 76px;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;
    font-size: 15px;
}
.faq-wrap {
    margin-bottom: 120px;
}
.faq-write-section {
    padding: 3% 0;
    padding-left: 3.5%;
    height: auto;
    overflow: hidden;
	border-bottom: 2px solid #edefef;
	display: none;
    line-height: 22px;
    font-size: 15px;
}

/* -------------------------------- 게시판 섹션 -------------------------------- */

/* 게시판 카테고리 */
.notice {
    margin: 80px 0 60px 0;
}
.notice-h1 {
    text-align: center;
    font-size: 35px;
}
.section-category {
    width: 100%;
    margin-top: 80px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}
.category {
    max-width: 1140px;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.category li {
    float: left;
    width: 25%;
    height: 60px;
    overflow: hidden;
    border-right: 1px solid #e8e8e8;
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    line-height: 60px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -wekit-transition: all 0.5s;
	transition: all 0.5s;
}
.category li:first-child { border-left: 1px solid #e8e8e8; }
.category-sel {
    background-color: #e7141b;
    color: #fff;
}

/*게시판*/
.board-section {
    max-width: 1140px;
    margin: auto;
}
/*search*/

.search-wrap {
    height: auto;
    overflow: hidden;
    margin-bottom: 25px;
}
.board-search {
    float: right;
    height: auto;
    overflow: hidden;
    margin-right: 86px;
	width: 225px;
	height: 45px;
	padding: 0 10px;
	border: 1px solid #e8e8e8;
}
.input-search {
    width: 100%;
	height: 45px;
    border: none;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0px;
    width: 72px;
	height: 47px;
    background-color: #666;
    color: #fff;
    text-align: center;
    line-height: 47px;
    cursor: pointer;
}
/* 게시판 */
.board {
    height: auto;
    overflow: hidden;
    border-top: 1px solid #e8e8e8;
}
.board-none {
    height: 64px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
    text-align: center;
    line-height: 65px;
    letter-spacing: 2px;
}
.board-box {
    clear: both;
    height: 63px;
    border-bottom: 1px solid #e8e8e8;
    line-height: 65px;
    font-size: 14px;
}
.board-box .num {
    float: left;
    width: 75px;
    color: #cdcdcd;
    text-align: center;
    font-weight: 100;
}
.board-box .subject {
    float: left;
    margin-left: 7px;
}
.board-box .date {
    float: right;
    width: 140px;
    color: #cdcdcd;
    text-align: center;
    font-weight: 100;
}
/* 글쓰기 버튼 */
.write-btn {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.write-btn a {
    float: right;
    width: 110px;
    height: 50px;
    margin-top: 40px;
    border-radius: 6px;
    background-color: #8c8c8c;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

/*페이지 btn*/
.pagin-wrap {
    height: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
}
.num-wrap {
    display: inline-block;
}
.num-wrap li {
    display: inline-block;
    padding: 0 8px; 
    cursor: pointer;
    color: #cdcdcd;
    font-size: 14px;
    line-height: 20px;
}
.num-wrap li.num-sel {
    color: #000; 
    font-weight: bold;
}

/* 읽기 게시판 */
.board-read {
    padding-bottom: 40px;
    border-bottom: 1px solid #e8e8e8;
}
.read-head {
    padding: 60px 0;
    border-bottom: 1px solid #e8e8e8;
    color: #515151;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
}
.read-section {
    height: auto;
    overflow: hidden;
    padding: 40px 0;
    font-size: 15px;
    line-height: 20px;
}

/* 게시판 버튼 수정삭제답글목록 */
.board-btn-page {
    height: auto;
    overflow: hidden;
    float: right;
    height: auto;
    overflow: hidden;
    margin-top: 30px;
}
.board-btn-page a {
    float: left;
    width: 70px;
    height: 40px;
    margin-left: 10px;
    border: 1px solid #e8e8e8;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
}
/* 댓글 리스트 */
.comment-page { /* 댓글 페이지 */
    padding: 40px 0;
    margin-top: 50px;
}
.comment-page .p { /* 댓글 타이틀 */
    padding-left: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e8e8e8;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 500;
}
/* 댓글 */
.comment-box { /* 댓글 1개 섹션 */
    height: auto;
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px dotted #e8e8e8;
}
.comment-box:hover { background-color: #f9f9f9; }
.comment-top {
    height: 40px;
}
/*댓글 작성 정보*/
.comment-left {
    float: left;
    height: 45px;
}
.comment-witer {
    float: left;
    height: 25px;
    margin-right: 15px;
    line-height: 45px;
    color: #555;
    font-size: 14px;
    font-weight: 500;
}
.comment-date {
    float: left;
    height: 25px;
    line-height: 45px;
    color: #999;
    font-size: 13px;
}
.comment-right {
    float: right;
    height: 45px;
}
.comment-btn { /*댓글의 수정삭제 버튼*/
    float: left; 
    height: 15px;
    line-height: 15px;
    margin-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #e8e8e8;
    color: #999;
    font-size: 13px;
    cursor: pointer;
}
.comment-btn:last-child {
    border-right: none;
    padding-right: 0px;
}
.comment-btn:hover { text-decoration: underline; }
.comment-section { /* 댓글 목록 내용 */
    padding: 10px 0;
    font-size: 15px;
}

/* 댓글 등록하기 창 */
.board-comment {
    height: 142px;
    margin-bottom: 80px;
    border: 1px solid #e8e8e8;
}
.comment-text-wrap {
    margin-right: 155px;
    padding-left: 20px;
    font-size: 14px;
}

.comment-contents { /* 댓글입력란 textarea */
    width: 100%;
    height: 70px;
    margin-top: 25px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}
.comment-write-btn { /* 댓글 등록하기 버튼 */
    position: absolute;
    top: 27px;
    right: 20px;
    width: 95px;
    height: 86px;
    background-color: #e7141b;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 86px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}
/*글쓰기 섹션*/
.write-wrap {
    margin-bottom: 80px;
}
.board-table .read-subject { padding: 10px 20px; } 
.input-subject {
    width: 100%;
    height: 50px;
	background-color: #fff;
	border: none;
    padding: 0 15px;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.write-section {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 30px 0;
    border-bottom: 1px solid #e8e8e8;
}
.write-section .write {
	width: 100%;
	height: 400px;
	overflow-y: scroll;
	border: 1px solid #e1e1e1;
	padding: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*게시판 첨부파일*/
.thumnail-table {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 15px 0;
	border-bottom: 1px solid #cfcfcf;
}
.thumnail-title {
    float: left;
    width: 10%;
    height: 40px;
    line-height: 40px;
}
.thumnail-list {
    width: 90%;
    height: auto;
    overflow: hidden;
}
.thumnail-list p {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.input-thumnail {
	float: left;
	width: 500px;
	height: 40px;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.find-file-btn {
    float: left;
    height: 48px;
	padding: 0 15px;
	margin-left: 15px;
	border: 1px solid #cfcfcf;
	color: #888;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}




.write-btn.photo {
    margin-top: 0;
    margin-right: 20px; 
    text-align: right;
}


/*게시판 수정 삭제*/
.board-btn {  text-align: right; }
.board-btn a {
    width: 110px;
    height: 50px;
    margin-left: 5px;
    border: 1px solid #e8e8e8;
    color: #898989;
    font-size: 15px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
}

/*게시판 목록*/
.list-btn { text-align: center; }
.list-btn a {
    width: 95px;
    height: 45px;
    margin-top: 50px;
    border: 1px solid #e8e8e8;
    color: #898989;
    font-size: 15px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
}
.list-btn .list-btn-input { /* 등록버튼 인풋버튼 */
    width: 95px;
    height: 45px;
    margin-top: 50px;
    margin-left: 10px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    color: #898989;
    font-size: 15px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

/* 포토 */

.photo-section {
    max-width: 1320px; /* 1280+(photo-box 패딩값x2) */
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 0;
}
.photo-title { color: #333; font-size: 55px; margin-top: 80px; font-weight: 100; }
.photo-content { margin: 0 20px; }  /* 리뷰페이지 마진값 조정 */
.photo-page { height: auto; overflow: hidden; }
.photo-box {
	float: left;
	width: 33.3%;
	padding:  0 20px;
	margin-bottom: 40px;
}
.photo-photo {
	width: 100%;
	padding-top: 66%;
	overflow: hidden;
}
.photo-sub {
	width: 100%;
	margin-top: 24px;
    margin-bottom: 12px;
	overflow: hidden;
}
.photo-date {
	width: 100%;
	overflow: hidden;
	color: #b3b3b3;
	font-size: 15px;
}
.photo-sub a { display: inline-block; }







/*  커뮤니티 게시판  */

.board-table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}
.board-table th {
	height: 25px;
	color: #888;
    font-size: 14px;
	padding: 10px 0;
    background-color: #36a2f6;
    color: #fff;
    font-weight: 100;
	border-right: 1px solid #e1e1e1;
}
.board-table td {
	height: 25px;
	color: #888;
    font-size: 13px;
	padding: 10px 15px;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}
/*게시판 border 좌우 0 조절*/
.board-table th:first-child { border-left: 0; }
.board-table th:last-child { border-right: 0; }

.board-table td:first-child {border-left: 0; }
.board-table td:last-child { border-right: 0; }

td.board-subject { text-align: left; }
.board-subject a { display: inline-block; }

.board-table .read-section { text-align: left; }
.board-table .board-write-section {
	width: calc(100% - 12px);
	height: 400px;
	overflow-y: scroll;
	border: 1px solid #e1e1e1;
	padding: 8px;
    text-align: left;
}

/* -------------------------------------- 게시판 글쓰기 페이지 -------------------------------------- */


/* board-write */


.write-subject {
	width: 100%;
	height: 30px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
}
.write-section {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 30px 0;
    border-bottom: 1px solid #e8e8e8;
}



.attach {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #e8e8e8;
}
.attach-head {
    float: left;
    width: 140px;
    height: 40px;
    padding: 5px 0;
    padding-left: 10px;
    line-height: 40px;
}

.input-find-file {
	float: left;
	width: 500px;
	height: 40px;
	border: 1px solid #e1e1e1;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	padding: 0 10px;
}
.find-file-btn {
    float: left;
    height: 38px;
	padding: 0 15px;
	margin-left: 15px;
	border: 1px solid #cfcfcf;
	color: #888;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
}
.attach-section {
    float: left;
    height: 50px;
    padding: 5px 0;
}


/*게시판 썸네일 부분*/
.read-thumnail { clear: top; }
.thumnail-image {
	width: 9%;
	padding-top: 9%;
	margin: 0.33%;
	border: 1px solid #A8A8A8;
	display: inline-block;
}
.thumnail-image img { width: 100%; height: 100%; }





/* 게시판 글쓰기 페이지 textarea */
.read-subject-write {
    width: 100%;
    height: 60px;
    text-align: center;
    border: none;
    color: #515151;
    font-size: 18px;
    letter-spacing: 1px;
}
.read-section-write {
    width: 100%;
    height: 800px;
    padding: 10px;
    border: 1px solid #e8e8e8;
}







/*회원가입*/


/* 로그인 */

.login-section {
    max-width: 1140px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 120px;
}

.login-title {
    color: #565656;
    font-size: 30px;
    margin-bottom: 60px;
    letter-spacing: 0.5px;
}
.login-wrap {
	width: 340px;
	margin: 0 auto;
}

.input-login {
	width: 100%;
	height: 60px;
    padding: 0 20px;
    margin-bottom: 20px;
	border: 1px solid #cfcfcf;
	background-color: #fff;
    line-height: 60px;
    font-size: 15px;
    box-sizing: border-box;
    -mos-box-sizing: border-box;
}
/* 로그인 페이지 아이디비밀번호찾기 */
.login-find {
	height: 45px;
	margin-top: 40px;
}
.login-find a {
	float: left;
	width: 50%;
    height: 45px;
	background-color: #e8e8e8;
	font-size: 15px;
	text-align: center;
	line-height: 45px;
    box-sizing: border-box;
    -mos-box-sizing: border-box;
}
.login-find a:first-child { border-right: 2px solid #fff; }
.join-btn a {
	width:  120px;
	height: 60px;
    margin: 0 auto;
    margin-top: 30px;
	font-size: 16px;
	text-align: center;
	line-height: 60px;
    letter-spacing: 1.2px;
    border-radius: 6px;
    border: 1px solid #cdcdcd;
}

/*회원가입 버튼, 찾기 페이지 공통사용*/
.joinpage-btn a {
	width: 100%;
	height: 60px;
    margin: 0 auto;
    margin-top: 30px;
	font-size: 16px;
	text-align: center;
	line-height: 60px;
    letter-spacing: 1.2px;
    border-radius: 6px;
    border: 1px solid #cdcdcd;
	
}

.join-p-wrap { margin-top: 70px; margin-bottom: 40px; }
.join-p { font-weight: 500; margin-bottom: 20px; }
.join-p2 { color: #a3a3a3; font-size: 15px; font-weight: 300; }


/*회원가입*/
.join-title {
    text-align: center;
	height: 65px;
	margin: auto;
    color: #333;
	font-size: 30px;
	line-height: 65px;
}
.find-title {
	height: auto;
	overflow: hidden;
	text-align: center;
	margin-top: 95px;
	margin-bottom: 60px;
	color: #555;
	font-size: 18px;
	font-weight: bold;
}
.join-table {
    width: 760px;
    margin: auto;
    margin-top: 80px;
	margin-bottom: 45px;
	border-collapse: collapse;
}

.join-th {
	height: 50px;
    padding: 15px 0;
    padding-right: 5px;
}
.join-td { padding: 8px 0px; }


/* 인풋 공통사용 */
.input-join {
    float: left;
	width: 280px;
	height: 50px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	padding: 0 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.join-number { /* 휴대전화 */
	float: left;
	width: 140px;
	height: 50px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
    padding: 0 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.join-mail {
    float: left;
	width: 180px;
	height: 50px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	padding: 0 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.accordion-email {
	float: left;
	width: 180px;
	height: 50px;
	padding: 0 15px;
	margin-left: 15px;
	border: 1px solid #cfcfcf;
	background-image: url(../images/select_arrow.png);
    background-repeat: no-repeat;
    background-position: 93.5% 50%;
	background-size: 22px;
	padding-right: 22px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.phone-bar { /* 휴대전화와 이메일 기호 */
	float: left;
	line-height: 50px;
	margin: 0 10px;
    font-size: 21px;
}

.input-subject {
    width: 100%;
    height: 50px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
    padding: 0 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/*회원가입 테이블의 width값 조정*/
.join-box {
	float: left;
	width: 250px;
	height: 30px;
	background-color: #fff;
	border: 1px solid #cfcfcf;
}

.find-info { padding-left: 30px; font-size: 21px; }

/*중복확인 버튼*/
.check-btn {
	float: left;
    width: 80px;
	height: 50px;
	margin-left: 15px;
    background-color: #333;
	color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
}



.ps-tab-sel { opacity: 1; }
.ps-tview-sel { display: block; }

/* ------------------------------------ 댓글 -------------------------------- */


