.xans-board-inquirysearch { padding:15px 0 20px; color:#2e2e2e; font-size:12px; text-align:center; }
.xans-board-inquirysearch input { height:16px; width:162px; padding:3px; border:1px solid #d5d5d5; color:#2e2e2e; }
.xans-board-inquirysearch .boardSearch { display:block; }