.xans-board-inquirylist { margin:0 0 10px; }
.xans-board-inquirylist table { clear:both; border:1px solid #d7d5d5; color:#353535; font-size:12px; line-height:140%; }
.xans-board-inquirylist table th { padding:12px 0 10px; border-right:1px solid #e3e3e3; background:#fbfafa; font-weight:normal; }
.xans-board-inquirylist table td { padding:6px 3px 4px; height:32px; border-top:1px solid #e3e3e3; border-right:1px solid #e3e3e3; text-align:center; vertical-align:middle; }
.xans-board-inquirylist table a,
.xans-board-inquirylist table a:hover { color:#555; }
.xans-board-inquirylist table td.subject,
.xans-board-inquirylist table td.product { word-break:break-all; text-align:left; padding-left:8px; color:#555; }
.xans-board-inquirylist table td.subject img { vertical-align:middle; margin:0 1px; }
.xans-board-inquirylist table .txtLess { color:#939393; font-size:11px; }
.xans-board-inquirylist .noData { padding:20px 0; text-align:center; background-color:#fff; border-width:1px; border-style:solid; border-color:#d7d5d5; }