/* 게시판 전체 공통 */
.xans-board-title .title { min-height:30px; margin:10px 0 20px; border-bottom:1px solid #e8e8e8; }
.xans-board-title .title h2 { display:inline-block; padding:0 0 0 12px; color:#2e2e2e; font-size:16px; *display:inline; *zoom:1; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_heading.gif") 0 2px no-repeat; }
.xans-board-title .title p { display:inline-block; margin:0 0 0 6px; padding:0 0 0 10px; color:#939393; vertical-align:bottom; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_title.gif") no-repeat 0 0; *display:inline; *zoom:1; }
.xans-board-title p.imgArea { margin:0 0 20px; }

/* read */
.xans-board-read-9 { margin:-42px 0 0; }
.xans-board-read-9 .boardView { margin:60px 0 0; }
.xans-board-read-9 .boardView table { table-layout:fixed; border:1px solid #d7d5d5; color:#353535; line-height:180%; }
.xans-board-read-9 table th { width:110px; padding:10px 0 8px 20px; border-top:1px solid #e8e8e8; border-right:1px solid #e8e8e8; background-color:#fbfafa; text-align:left; font-weight:normal; }
.xans-board-read-9 table td { width:auto; padding:10px 0 8px 10px; border-top:1px solid #e8e8e8; }
.xans-board-read-9 table tr:first-child th,
.xans-board-read-9 table tr:first-child td{ border-top:none; }

.xans-board-read-9 table tr.etcArea td { padding:0; border:0; }
.xans-board-read-9 table tr.etcArea ul { position:relative; z-index:1; overflow:hidden; width:100%; border-top:1px solid #e8e8e8; }
.xans-board-read-9 table tr.etcArea ul li { float:left; }
.xans-board-read-9 table tr.etcArea ul .th { float:left; padding:10px 0 8px 20px; width:110px; background-color:#fbfafa; border-right:1px solid #e8e8e8; font-weight:normal; }
.xans-board-read-9 table tr.etcArea ul .td { float:left; padding:10px 0 8px 10px; width:250px; }
.xans-board-read-9 table tr.etcArea ul li.date .th { border-left:1px solid #e8e8e8; }

.xans-board-read-9 table td img { vertical-align:middle; }
.xans-board-read-9 table a { text-decoration:none; }
.xans-board-read-9 table tr.view td { padding:0; border:0; line-height:140%; }
.xans-board-read-9 table tr.view .detail { position:relative; z-index:2; margin:-1px 0 0; padding:17px 0 15px 20px; border-top:1px solid #e7e7e7; word-break:break-all; line-height:normal; }
.xans-board-read-9 table tr.view ol,
.xans-board-read-9 table tr.view ul { margin:15px 0; padding:0 0 0 40px; }
.xans-board-read-9 table tr.view ol li { list-style:decimal; }
.xans-board-read-9 table tr.view ul li { list-style:disc; }

.xans-board-read-9 table tr.attach a { padding:0 0 0 12px; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/board/ico_attach1.gif") no-repeat 0 0; color:#8f8f8f; }
.xans-board-read-9 table tr.attach a:hover { text-decoration:underline; }

.xans-board-read-9 .btnArea { overflow:hidden; margin:20px 0 50px; text-align:right; font-size:1%; line-height:1%; }
.xans-board-read-9 .btnArea.center { text-align:center; }
.xans-board-read-9 .btnArea img { cursor:pointer; margin:0 1px 0 0;}
.xans-board-read-9 .btnArea span.left { float:left; margin:0 0 0 3px; }

.xans-board-read-9 .boardWait { margin:60px 0 0 ; padding:20px; border:1px solid #d7d5d5; background:#fbfafa; font-size:11px; }