/* 게시판 전체 공통 */
.xans-board-title .title { min-height:30px; margin:10px 0 20px; border-bottom:1px solid #e8e8e8; }
.xans-board-title .title h2 { display:inline-block; padding:0 0 0 12px; color:#2e2e2e; font-size:16px; *display:inline; *zoom:1; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_heading.gif") 0 2px no-repeat; }
.xans-board-title .title p { display:inline-block; margin:0 0 0 6px; padding:0 0 0 10px; color:#939393; vertical-align:bottom; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_title.gif") no-repeat 0 0; *display:inline; *zoom:1; }
.xans-board-title p.imgArea { margin:0 0 20px; }

/* 비밀글 보기 */
.xans-board-secure { border:1px solid #d7d5d5; padding:30px 0; color:#2e2e2e; text-align:center; }
.xans-board-secure .secret { width:330px; margin:0 auto; }
.xans-board-secure .secret .info { margin:50px 0; line-height:150%; color:#757575;}
.xans-board-secure .secret .info strong { color:#008bcc; }
.xans-board-secure .secret .password label { display:inline-block; margin:0 0 5px; padding:0 0 0 10px; width:80px; font-weight:normal; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/member/ico_login2.gif") no-repeat 15px 4px;}
.xans-board-secure .secret .password input { width:175px; height:18px; margin:0 13px 0 0; padding:2px 2px 2px 3px; border:1px solid #d9d9d9; color:#202020; }
.xans-board-secure .secret .button { margin:40px 0 10px; }