.xans-layout-category { margin:0 0 30px; }
.xans-layout-category .position {}
.xans-layout-category .position > ul {}
.xans-layout-category .position > ul > li { position:relative; z-index:10; }
.xans-layout-category .position > ul > li > a { display:block; padding:12px 20px 12px 9px; color:#2e2e2e; font-size:14px; font-weight:bold; font-family:Tahoma,Dotum,sans-serif; word-spacing:-1px; text-decoration:none; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_category1.gif") no-repeat 165px 17px; }
.xans-layout-category .position > ul > li > a:hover,
.xans-layout-category .position > ul > li.selected > a,
.xans-layout-category .position > ul > li.on > a { padding:11px 19px 11px 8px; border:1px solid #aeaeae; color:#008bcc; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/layout/ico_category2.gif") no-repeat 164px 16px; }

.xans-layout-category .sub-category { position:absolute; top:0; left:179px; width:158px; border-top:1px solid #aeaeae; border-bottom:1px solid #aeaeae; background:#fff; }
.xans-layout-category .sub-category ul {}
.xans-layout-category .sub-category li { padding:0 10px; border-left:1px solid #aeaeae; border-right:1px solid #aeaeae; }
.xans-layout-category .sub-category li:first-child { border-left:0; }
.xans-layout-category .sub-category li:first-child a { border-top-color:#fff; }
.xans-layout-category .sub-category a { display:block; padding:12px 0; border-top:1px solid #d8d8d8; font-size:12px; color:#2e2e2e; text-decoration:none; }
.xans-layout-category .sub-category a:hover,
.xans-layout-category .sub-category li.selected a { color:#008bcc; }