.xans-mall-faq ul.link { height:38px; margin:30px 0 11px; border:1px solid #cbcdce; border-bottom-color:#292929; border-left:0; line-height:1.5; background:#f0f2f2; *zoom:1; }
.xans-mall-faq ul.link:after { content:""; display:block; clear:both; }
.xans-mall-faq ul.link li { float:left; margin:0 0 0 -1px; }
.xans-mall-faq ul.link li a { display:block; width:95px; height:38px; padding:0 15px; border-right:1px solid #cbcdce; border-left:1px solid #cbcdce; color:#757575; line-height:38px; text-decoration:none; text-align:center; background:#f0f2f2; }
.xans-mall-faq ul.link li:first-child a { width:100px; }
.xans-mall-faq ul.link li:last-child a { border-right:none; }
.xans-mall-faq ul.link li.selected a { position:relative; top:-1px; margin:0 0 -1px; border:1px solid #292929; color:#fff; font-weight:bold; background:#4a5164; }
.xans-mall-faq ul.link li:first-child,
.xans-mall-faq ul.link li.selected:first-child { margin-left:0; }

.xans-mall-faq .cont { padding:27px 10px 46px 9px; color:#353535; line-height:18px; }
.xans-mall-faq .cont h3 { margin:0 0 20px; color:#444; font-size:12px; }