.xans-mall-term { padding:20px; border-top:2px solid #c0c0c0; border-bottom:1px solid #c0c0c0; background:#f8f8f8; color:#8f8f8f; font-size:11px; line-height:160%; }
.xans-mall-term .agreement { padding:20px; border:1px solid #e6e6e6; background:#fff; }
.xans-mall-term .agreement p { padding:0 0 17px; }
