@charset "utf-8";
/* CSS Document */

body {
	margin :0;
}
div, section, header {
	position: relative;
}
section {
	height: 1000px;
	overflow: hidden;
}
img {
	vertical-align: top;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	color: #f47121;
}

.main-color {
	height: 810px;
	background-color: #523293;
}
.main-img {
	position: absolute;
	top: 470px;
	left: 50%;
	width: 1600px;
	height: 300px;
	margin-left: -830px;
	background-image: url(images/main_img.png);
	background-repeat: no-repeat;
}
.main-tree {
	position: absolute;
	top: 472px;
	left: 50%;
	width: 1600px;
	height: 300px;
	margin-left: -830px;
}
.main-left {
	position: absolute;
	width: 1600px;
	height: 300px;
	top: 480px;
	left: 50%;
	margin-left: -800px;
}
.main-right {
	position: absolute;
	width: 1600px;
	height: 300px;
	top: 470px;
	left: 50%;
	margin-left: -820px;
}
.main-home {
	position: absolute;
	top: 518px;
	left: 50%;
	width: 288px;
	height: 270px;
	margin-left: -590px;
}
.home-off {
	display: none;
}
.main-stoke {
	position: absolute;
	top: 750px;
	left: 50%;
	width: 2200px;
	height: 240px;
	margin-left: -1100px;
	background-image: url(images/top-bg.png);
}
.main-logo {
	position: absolute;
	top: 60px;
	left: 50%;
	width: 808px;
	height: 150px;
	margin-left: -404px;
	padding-top: 20px;
	background-image: url(images/main-logo.png);
	background-repeat: no-repeat;
	font-size: 55px;
	font-weight: bold;
	font-family: 'Mountains of Christmas', cursive;
	color: #fff;
	text-align: center;
}
.main-ani {
	position: absolute;
	top: 350px;
	left: 50%;
	width: 230px;
	height: 138px;
	margin-left: -30px;
	-webkit-animation: main-ani 5s infinite linear;
	animation: main-ani 5s infinite linear;
}

@-webkit-keyframes main-ani {
	0% {
		margin-left: 2200px;
	}
	14%{
		margin-left: -30px;
		top: 350px;
	}
	20%{
		margin-left: -30px;
		top: 350px;
	}
	35% {
		margin-left: -30px;
		top: 354px;
	}
	50% {
		margin-left: -30px;
		top: 350px;
	}
	65% {
		margin-left: -30px;
		top: 354px;
	}
	80% {
		margin-left: -30px;
		top: 350px;
	}
	90% {
		margin-left: -30px;
		top: 350px;
	}
	100% {
		margin-left: -2200px;
	}
	
}
@keyframes main-ani {
	0% {
		margin-left: 2200px;
	}
	14%{
		margin-left: -30px;
		top: 350px;
	}
	20%{
		margin-left: -30px;
		top: 350px;
	}
	35% {
		margin-left: -30px;
		top: 354px;
	}
	50% {
		margin-left: -30px;
		top: 350px;
	}
	65% {
		margin-left: -30px;
		top: 354px;
	}
	80% {
		margin-left: -30px;
		top: 350px;
	}
	90% {
		margin-left: -30px;
		top: 350px;
	}
	100% {
		margin-left: -2200px;
	}
	
}
.menu-wrap {
	position: absolute;
	width: 400px;
	height: 50px;
	top: 75px;
	left: 50%;
	margin-left: -150px;
}
.menu {
	float: left;
	height: 50px;
	margin-right: 20px;
	font-family: 'Mountains of Christmas', cursive;
	font-weight: bold;
	font-size: 15px;
}
.menu-color {
	color: #f47121;
}
.spider {
	position: absolute;
	width: 44px;
	height: 390px;
	top: -390px;
	left: 50%;
	margin-left: -22px;
	z-index: 995;
	cursor: pointer;
}

.spider-on {
	position: absolute;
	width: 44px;
	height: 390px;
	top: -195px;
	left: 50%;
	margin-left: -22px;
	z-index: 995;
	cursor: pointer;
	-webkit-transition: all 2.5s  ;
	transition: all 2.5s  ;
}
.spider-sel {
	position: absolute;
	width: 44px;
	height: 390px;
	top: -195px;
	left: 50%;
	margin-left: -22px;
	z-index: 995;
	cursor: pointer;
	-webkit-animation: spider-ani 1s   ;
	animation: spider-ani 1s  ;
}
@-webkit-keyframes spider-ani {
	0% {
		-webkit-transform: rotate( 25deg );
	}
	25% {
		-webkit-transform: rotate( -25deg );
	}
	50% {
		-webkit-transform: rotate( 25deg );
	}
	75% {
		-webkit-transform: rotate( -25deg );
	}
	100% {
		-webkit-transform: rotate( 0deg );
	}
}
@keyframes spider-ani {
	0% {
		transform: rotate( 25deg );
	}
	25% {
		transform: rotate( -25deg );
	}
	50% {
		transform: rotate( 25deg );
	}
	75% {
		transform: rotate( -25deg );
	}
	100% {
		transform: rotate( 0deg );
	}
}