@charset "utf-8";
/* CSS Document */

.circle {
	position: absolute;
	border-radius: 50%;
	border: 3px solid #000;
	background-color: #fff;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
}
.circle:hover {
	-webkit-transform: rotate( 360deg );
	transform: rotate( 360deg );
}
.circle-left:hover {
	-webkit-transform: rotate( -360deg );
	transform: rotate( -360deg );
}
.circle-inner {
	position: absolute;
	border-radius: 50%;
	overflow: hidden;
}
.circle-inin {
	position: absolute;
	top: 50px;
	left: 50px;
	border-radius: 50%;
	background-color: #000;
}
.circle-wrap1 {
	width: 260px;
	height: 260px;
	top: 440px;
	left: 50%;
	margin-left: -550px;
}
.ci1 {
	top: 2px;
	left: 50%;
	margin-left: -100px;
	width: 195px;
	height: 195px;
	background-color: #3F0;
	border: 10px solid #333;
}
.inin1 {
	top: 12px;
	left: 50%;
	margin-left: -68px;
	width: 145px;
	height: 145px;
	background-color: #000;
}
.circle-cover1 {
	position: absolute;
	width: 195px;
	height: 195px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	top: 50px;
	left: 50%;
	margin-left: -90px;
	color: #F90;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	display:none;
}
.ci1:hover .circle-cover1 {
	display: block;
}

.circle-wrap2 {
	width: 225px;
	height: 225px;
	top: 375px;
	left: 50%;
	margin-left: -320px;
}
.ci2 {
	top: 22px;
	left: 50%;
	margin-left: -88px;
	width: 175px;
	height: 175px;
	background-color: #F66;
	border: 10px solid #F36;
}
.inin2 {
	top: 22px;
	left: 50%;
	margin-left: -62px;
	width: 140px;
	height: 140px;
}
.circle-cover2 {
	position: absolute;
	width: 175px;
	height: 175px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	top: 100%;
	left: 50%;
	margin-left: -80px;
	color: #999;;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.ci2:hover .circle-cover2 {
	top: 80px;
}

.circle-wrap3 {
	width: 180px;
	height: 180px;
	top: 553px;
	left: 50%;
	margin-left: -335px;
}
.ci3 {
	top: 16px;
	left: 50%;
	margin-left: -90px;
	width: 135px;
	height: 135px;
	background-color: #aa3e93;
	border: 10px solid #0c2053;
}
.inin3 {
	top:16px;
	left: 50%;
	margin-left: -65px;
	width: 110px;
	height: 110px;
	background-color: #222b66;
}
.circle-cover3 {
	position: absolute;
	width: 135px;
	height: 135px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	top: 100%;
	left: 50%;
	margin-left: -80px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
.ci3:hover .circle-cover3 {
	top: 20px;
}
.circle-wrap4 {
	width: 217px;
	height: 217px;
	top: 450px;
	left: 50%;
	margin-left: -145px;
}
.ci4 {
	top: 3px;
	left: 50%;
	margin-left: -102px;
	width: 170px;
	height: 170px;
	background-color: #0CC;
	border: 10px solid #09C;
}
.inin4 {
	top: 13px;
	left: 50%;
	margin-left: -77px;
	width: 130px;
	height: 130px;
	background-color: #15150b;
	border: 4px solid #091810;
}
.circle-cover4 {
	position: absolute;
	width: 170px;
	height: 170px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	top: 100%;
	left: 50%;
	margin-left: -90px;
	color: #999;;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 130px;
}
.ci4:hover .circle-cover4 {
	top: 40px;
}
.circle-wrap5 {
	width: 155px;
	height: 155px;
	top: 645px;
	left: 50%;
	margin-left: -165px;
}
.ci5 {
	top: 4px;
	left: 50%;
	margin-left: -74px;
	width: 115px;
	height: 115px;
	background-color: #78735f;
	border: 10px solid #090f03;
}
.inin5 {
	top: 5px;
	left: 50%;
	margin-left: -54px;
	width: 95px;
	height: 95px;
	background-color: #000;
}
.circle-cover5 {
	position: absolute;
	width: 115px;
	height: 115px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	top: 100%;
	left: 50%;
	margin-left: -65px;
	color: #a80000;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
.ci5:hover .circle-cover5 {
	top: 30px;
}
.circle-wrap6 {
	width: 135px;
	height: 135px;
	top: 370px;
	left: 50%;
	margin-left: 20px;
	
}
.ci6 {
	top: 5px;
	left: 50%;
	margin-left: -50px;
	width: 90px;
	height: 90px;
	background-color: #3F0;
	border: 10px solid #333;
}
.inin6 {
	top: 8px;
	left: 50%;
	margin-left: -28px;
	width: 65px;
	height: 65px;
	background-color: #000;
}
.circle-cover6 {
	position: absolute;
	width: 90px;
	height: 90px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	top: 20px;
	left: 50%;
	margin-left: -40px;
	color: #999;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	display: none;
}
.ci6:hover .circle-cover6 {
	display: block;
}
.circle-wrap7 {
	width: 175px;
	height: 175px;
	top: 460px;
	left: 50%;
	margin-left: 82px;
	z-index: 3;
}
.ci7 {
	top:4px;
	left: 50%;
	margin-left: -86px;
	width: 135px;
	height: 135px;
	background-color: #78735f;
	border: 10px solid #090f03;
}
.inin7 {
	top: 10px;
	left: 50%;
	margin-left: -62px;
	width: 100px;
	height: 100px;
	background-color: #15150b;
	border: 4px solid #091810;
}
.circle-cover7 {
	position: absolute;
	width: 135px;
	height: 135px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	top: 100%;
	left: 50%;
	margin-left: -75px;
	color: #a80000;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
.ci7:hover .circle-cover7 {
	top: 32px;
}
.circle-wrap8 {
	width: 180px;
	height: 180px;
	top: 590px;
	left: 50%;
	margin-left: 15px;
	z-index: 4;
}
.ci8 {
	top: 19px;
	left: 50%;
	margin-left: -74px;
	width: 140px;
	height: 140px;
	background-color: #3F0;
	border: 10px solid #333;
}
.inin8 {
	top: 24px;
	left: 50%;
	margin-left: -50px;
	width: 110px;
	height: 110px;
	background-color: #000;
}
.circle-cover8 {
	position: absolute;
	width: 140px;
	height: 140px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	top: 65px;
	left: 50%;
	margin-left: -55px;
	color: #999;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	display: none;
}
.ci8:hover .circle-cover8 {
	display: block;
}
.circle-wrap9 {
	width: 215px;
	height: 215px;
	top: 350px;
	left: 50%;
	margin-left: 225px;
}
.ci9 {
	top: 5px;
	left: 50%;
	margin-left: -105px;
	width: 170px;
	height: 170px;
	background-color: #aa3e93;
	border: 10px solid #0c2053;
}
.inin9 {
	top: 15px;
	left: 50%;
	margin-left: -75px;
	width: 130px;
	height: 130px;
	background-color: #222b66;
}
.circle-cover9 {
	position: absolute;
	width: 170px;
	height: 170px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	top: 60px;
	left: 50%;
	margin-left: -95px;
	color: #999;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	display: none;
}
.ci9:hover .circle-cover9 {
	display: block;
}
.circle-wrap10 {
	width: 190px;
	height: 190px;
	top: 560px;
	left: 50%;
	margin-left: 202px;
	z-index: 3;
}
.ci10 {
	top: 5px;
	left: 50%;
	margin-left: -80px;
	width: 150px;
	height: 150px;
	background-color: #F66;
	border: 10px solid #F36;
}
.inin10 {
	top: 6px;
	left: 50%;
	margin-left: -55px;
	width: 115px;
	height: 115px;
}
.circle-cover10 {
	position: absolute;
	width: 150px;
	height: 150px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	top: 100%;
	left: 50%;
	margin-left: -75px;
	color: #999;;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.ci10:hover .circle-cover10 {
	top: 30px;
}
.circle-wrap11 {
	width: 175px;
	height: 175px;
	top: 487px;
	left: 50%;
	margin-left: 355px;
	z-index: 2;
}
.ci11 {
	top: 10px;
	left: 50%;
	margin-left: -85px;
	width: 135px;
	height: 135px;
	background-color: #0CC;
	border: 10px solid #09C;
}
.inin11 {
	top: 16px;
	left: 50%;
	margin-left: -61px;
	width: 103px;
	height: 103px;
}
.circle-cover11 {
	position: absolute;
	width: 135px;
	height: 135px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	top: 100%;
	left: 50%;
	margin-left: -80px;
	color: #999;;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}
.ci11:hover .circle-cover11 {
	top: 50px;
}

.popup-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0;
	visibility: hidden;
	z-index: 99999;
}
.popup-wrap-on {
	opacity: 1;
	visibility: visible;
}
.window {
	position: absolute;
	width: 800px;
	height: 492px;
	top: 50%;
	left: 50%;
	margin-top: -246px;
	margin-left: -400px;
	background-color: #999;;
	display: none;
}
.popup-button {
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: 368px;
	cursor: pointer;
}