@charset "utf-8";
/* CSS Document */

.min-header { display: none; }


.header-inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-bottom: 110px;
}
.header {
	max-width: 1540px;
	margin: 0 auto;
	z-index: 999;
}
.header-top {
	float: right;
	height: 12px;
	margin: 15px 0;
	font-size: 12px;
	color: #fff;
}
.header-bottom {
	height: 70px;
	background-color: #1a1531;
	margin-top: 40px;
}
.header-login {
	float: left;
	border-right: 1px solid #c8c6c6;
	padding: 0 5px;
	line-height: 12px;
}
.yellow {
	color: #fffc00;
	border-right: none;
}

.header-logo {
	position: absolute;
	top: 0;
	left: 10px;
	width: 170px;
}
.header-gnb {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -230px;
	display: inline-block;
	text-align: center;
}
.header-sns {
	position: absolute;
	top: 11px;
	right: 11px;
}

.gnb {
	float: left;
	color: #b5b1d6;
    font-size: 16px;
    line-height: 70px;
    margin: 0 15px;
}
.gnb:hover {
	color: #fffc00;
	-webkit-transition: all 1s;
	transition: all 0.5s;
}
.hdsns {
	float: left;
	width: 48px;
	margin-left: 5px;
}


@media (max-width: 999px) {
.header-inner {
	display: none;	
}	
.min-header {
	display: block;
	max-width: 1540px;
	height: 70px;
	background-image: url(../images/header_bg.png);
}
.minheader-ham {
	position: absolute;
    top: 50%;
    left: 20px;
	width: 25px;
	height: 25px;
    margin-top: -12px;
}
.btn-ham {
	width: 25px;
	height: 2px;
	margin-bottom: 8px;
	background-color: #c1c1d9;
}
.minheader-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 170px;
	height: 70px;
	margin-left: -85px;
	margin-top: -35px;
}
.minheader-res {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 48px;
	height: 44px;
	margin-top: -22px;
	background-image: url(../images/btn_m_top_res.png);
	background-position: top;
	background-size: 25px;
	background-repeat: no-repeat;
	color: #c1c1d9;
	font-size: 9px;
	padding-top: 32px;
}
}