@charset "utf-8";
/* CSS Document */


.main {
	height: auto;
	overflow: hidden;	
}
.main-visual {
	max-width: 1600px;
	margin: 0 auto;
}
.main-logo {
	position: absolute;
	top: 190px;
	left: 50%;
	margin-left: -223px;
}
.main-slider { display: none; }

.main-tab-wrap {
	position: absolute;
	left: 30px;
	right: 30px;
	bottom: 0;
}
.main-tab {
	float: left;
	width: 25%;
	text-align: center;
}
.main_tab_ov {
	height: 80px;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
}

.main_tab_on {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: -310px;
	height: 310px;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
}

.main-tab:hover .main_tab_on {
	bottom: 0;

}
.main-tab:hover .main_tab_ov {
	bottom: -80px;
}

.maintab_title {
	font-size: 16px;
	color: #fff;
	padding-top: 16px;
}
.maintab_text {
	font-size: 12px;
	color: #fff;
	opacity: 0.7;
	padding-top: 8px;
}





.tabdate_title {
	background-position: center;
	background-size: 80px;
	background-repeat: no-repeat;
	padding-top: 104px;
    font-size: 24px;
    color: #fff;
}

.tabdate_title.a { background-image: url(../images/main_tab_icon_01.png); }
.tabdate_title.b { background-image: url(../images/main_tab_icon_02.png); }
.tabdate_title.c { background-image: url(../images/main_tab_icon_03.png); }
.tabdate_title.d{ background-image: url(../images/main_tab_icon_04.png); }

.tabdate_yellow {
	font-size: 14px;
    color: #fffc00;
	margin: 10px 0;
}
.tabdate_text {
	font-size: 12px;
    color: #fff;
	opacity: 0.6;
}
.tabdate_btn {
	width: 51px;
	height: 51px;
	margin-top: 18px;
	display: inline-block;
	text-align: center;
	background-image: url(../images/main_tab_btn_view.png);
	background-repeat: no-repeat;
	background-position: top;
}
.tabdate_btn:hover {
	background-position: bottom;
}

.main-tab:nth-child(1) {
	background-image: url(../images/main_tab_bg_01.png);
}
.main-tab:nth-child(2) {
	background-image: url(../images/main_tab_bg_02.png);
}
.main-tab:nth-child(3) {
	background-image: url(../images/main_tab_bg_03.png);
}
.main-tab:nth-child(4) {
	background-image: url(../images/main_tab_bg_04.png);
}
.main_tab_on.a {
	background-image: url(../images/main_tab_bg_01.png);
}
.main_tab_on.b {
	background-image: url(../images/main_tab_bg_02.png);
}
.main_tab_on.c {
	background-image: url(../images/main_tab_bg_03.png);
}
.main_tab_on.d {
	background-image: url(../images/main_tab_bg_04.png);
}

@media (max-width: 999px) {
.main-tab-wrap {
display: none;
}

.main-logo {
position: absolute;
width: 223px;
top: 40px;
left: 50%;
margin-left: -111px;
}
.main-image {
	margin: 0 auto;
	width: 999px;
}
.main-image img {
	height: 100%;	
}

.main-slider {
	position: absolute;
	top: 150px;
	left: 50%;
	margin-left: -192px;
	width: 385px;
	height: 310px;
	display: block;
}
.slider-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 400%;
	height: 310px;	
}
.main_tab_sldie {
	position: relative;
	width: 385px;
	height: 310px;
	text-align: center;
}
.main-slide {
	position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.main-slide-on {
    opacity: 1;
    visibility: visible;
}
.mainslider-prev {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -18px;
	width: 21px;
	height: 36px;
	background-image: url(../images/main_tab_con_left.png);
	cursor: pointer;
	z-index: 999;
}
.mainslider-next {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -18px;
	width: 21px;
	height: 36px;
	background-image: url(../images/main_tab_con_right.png);
	cursor: pointer;
	z-index: 999;
}
}
