@charset "utf-8";
/* CSS Document */

* {
    vertical-align: top;
}
.logo, .foot_logo {
    font-size: 28px;
    font-weight: bold;
}
#wrap {
    padding-top: 100px;
}
#wrap.index_wrap {
    padding-top: 0;
}
/* header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: -1px 0 13px 0 rgba(183, 183, 183, 0.36);
    background-color: #ffffff;
    z-index: 9;
}
#header .section {
    padding: 27px 0;
    padding-left: 200px;
}
#header .logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    max-width: 180px;
    height: 40px;
}
.header_menu {
    float: right;
    display: inline-block;
    vertical-align: top;
}
.header_menu .gnb {
    display: inline-block;
    vertical-align: top;
}
#header .gnb > li {
    display: inline-block;
    float: left;
    margin: 0 34px;
    line-height: 46px;
    vertical-align: top;
}
#header .gnb > li.active {
    color: #3ac5cc;
    font-weight: bold;
}
#header .gnb > li:last-child {
    margin-right: 0;
}
.btn__hd_menu {
    margin-left: 80px;
}




.txt_l {
    font-size: 18px;
}
.step_hd::after {
    content: "";
    display: block;
    clear: both;
}
.step_wrap .step_hd {
    margin: 40px 0;
}
.step_wrap .step_hd .b {
    margin-bottom: 5px;
}
.step_wrap .step_hd > li {
    float: left;
    display: inline-block;
    width: 20%;
    padding: 27px 0;
    background: #fbfbfb;
    color: #2c2e30;
    text-align: center;
    line-height: 1;
}
.step_wrap.step_itm4 .step_hd > li {
    width: 25%;
}
.step_wrap.step_itm6 .step_hd > li {
    width: 16.6666%;
    padding: 22px 0;
}
.step_hd > li:first-child {
    border-radius: 8px 0 0 8px;
}
.step_hd > li:last-child {
    border-radius: 0 8px 8px 0;
}

.step_hd > li > p {
    opacity: 0.4;
}
.step_hd > li.active {
    
  border-radius: 8px;
  box-shadow: 0 8px 13px 0 rgba(98, 119, 125, 0.15);
  border: 2px solid #3ac5cc;
  background: #fff;
}
.step_hd > li.active > p {
    opacity: 1;
}

.step_hd > li .tit01 {
    margin-bottom: 10px;
}
.cont_box {
    padding: 50px;
    border: solid 2px #ebebeb;
    border-radius: 15px;
    background: #fff;
}
.step_content > li {
    display: none;
}
.step_content > li.active {
    display: block;
}
.step_content > li.itm01 .txt_l {
    padding: 95px 0;
    text-align: center;
}
.step_content > li.itm01 .txt_l {
    padding: 95px 0;
    text-align: center;
}



/**/
.main_visual {
    padding: 188px 0 130px;
    line-height: 1.44;
}
.main_h1 {
    font-size: 44px;
}
.main_txt2 {
    margin-top: 43px;
    color: #7e8085;
    font-size: 20px;
    line-height: 1.44;
}
#header.header_type01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: none;
    box-shadow: none;
    z-index: 3;
}

.main_bg1 {
    position: absolute;
    top: calc(-50% - 577px);
    right: -82%;
    top: calc(8% - 640px);
    right: -59.5%;
    width: 1380px;
    height: 1380px;
    border-radius: 65px;
    transform: rotate(46deg);
    background: #3ac5cc;
    z-index: -1;
}
.main_bg2 {
    position: absolute;
    top: calc(-100% - 633px);
    left: -263px;
    top: calc(-27% - 640px);
    left: -64px;
    width: 1380px;
    height: 1380px;
    border-radius: 160px;
    transform: rotate(57deg);
    background: #f6f8f9;
    z-index: -1;
}

.section_main .fl {
    width: 48.858%;
}
.section_main .fr {
    width: 51.142%;
}
.btn_video_play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: url(../imgs/main/icon_play_bg.svg) no-repeat 54%, 52%;
    background-size: 22px 32px;
    background-color: #168388;
    box-shadow: 0 21px 16px 0 rgba(0, 0, 0, 0.09);
    transform: translate(-50%, -50%);
}

.main_menu {
    padding: 125px 0;
    transition: top .3s;
}
.main_menu_ul > li {
    width: 11.1111%;
    padding-top: 89px;
    text-align: center;
    line-height: 1.15;
}
.main_menu_ul > li .txt_itm {
    height: 46px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}
.main_menu.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.05);
    background: #fff;
    z-index: 9;
}
.main_menu.fixed .main_menu_ul {
    padding: 0;
}
.main_menu.fixed .main_menu_ul > li {
    padding-top: 79px;
}
.main_menu.fixed .main_menu_ul > li .txt_itm {
    margin-bottom: 0;
    font-size: 15px;
}
.main_menu_ul > li.li_itm01 {
    background: url(../imgs/main/main_group01.svg) no-repeat top center;
    background-size: 46px 62px;
}
.main_menu_ul > li.li_itm02 {
    background: url(../imgs/main/main_group02.svg) no-repeat center 5px;
    background-size: 53px 50px
}
.main_menu_ul > li.li_itm03 {
    background: url(../imgs/main/main_group03.svg) no-repeat center 10px;
    background-size: 65px 45px;
}
.main_menu_ul > li.li_itm04 {
    background: url(../imgs/main/main_group04.svg) no-repeat top center;
    background-size: 46px 62px;
}
.main_menu_ul > li.li_itm05 {
    background: url(../imgs/main/main_group05.svg) no-repeat top center;
    background-size: 46px 62px;
}
.main_menu_ul > li.li_itm06 {
    background: url(../imgs/main/main_group06.svg) no-repeat center 7px;
    background-size: 52px 55px;
}
.main_menu_ul > li.li_itm07 {
    background: url(../imgs/main/main_group07.svg) no-repeat center 7px;
    background-size: 54px 46px;
}
.main_menu_ul > li.li_itm08 {
    background: url(../imgs/main/main_group08.svg) no-repeat top center;
    background-size: 60px 61px;
}
.main_menu_ul > li.li_itm09 {
    background: url(../imgs/main/main_group09.svg) no-repeat top center;
    background-size: 59px 56px;
}



.main_tab .tabs {
}
.main_tab .tabs::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 3px;
    background: #ebebeb;
}
.main_tab .tab {
    width: 14.2857%;
    padding: 28px 0;
    color: #7e8085;
    font-size: 18px;
    text-align: center;
    line-height: 1;
}

.main_tab .tab.active {
    color: #2c2e30;
    font-weight: bold;
}
.main_tab .tab.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #3ac5cc;
    z-index: 2;
}

.main_tab .tviews {
    padding-top: 50px;
}
.txt_notice > p {
    float: left;
    display: inline-block;
    vertical-align: top;
}
.txt_notice .txt_red {
    margin-right: 10px;
}
.table {
    width: 100%;
    text-align: center;
}
.table th, .table td {
    padding: 15px;
    font-size: 15px;
}
.table th {
    background: #f3f3f3;
    font-weight: 500;
}
.table td {
    border-bottom: 1px solid #e5e5e5;
}
.txt_s th, .txt_s td {
    font-size: 13px;
}


.content_view_box {
  height: 826px;
  border-radius: 15px;
  border: solid 2px #ebebeb;
}
.ab_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tview .txt_notice {
    margin-bottom: 40px;
}
label {
    color: #2c2e30;
}
.main_tab .tviews .main_tab_cont1 {
    padding: 50px 35px;
}
.main_tab_cont1 .txt01 {
    margin-top: 15px;
}
.main_tab_cont1 ul {
    margin: 0 -35px;
}
.main_tab_cont1 li {
    width: 25%;
    padding-left: 6.25%;
}
.main_tab_cont1.itm5n li {
    width: 20%;
    padding-left: 5%;
}
.main_tab_cont1 li::before {
    content: "";
    position: absolute;
    top: 50px;
    right: -5px;
    width: 10px;
    height: 17px;
    width: 14px;
    height: 14px;
    border-right: 3px solid #d0d2db;
    border-bottom: 3px solid #d0d2db;
    -webkit-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.main_tab_cont1 li:last-child::before {
    display: none;
}
.main_tab_cont1 li .icon {
    width: 46px;
    height: 50px;
    margin-bottom: 10px;
}
.main_tab_cont1 li .icon.itm1 {
    background: url(../imgs/main/main_tab_itm01.svg) no-repeat left top;
    background-size: 42px 42px;
}
.main_tab_cont1 li .icon.itm2 {
    background: url(../imgs/main/main_tab_itm02.svg) no-repeat left top;
    background-size: 46px 50px;
}
.main_tab_cont1 li .icon.itm3 {
    background: url(../imgs/main/main_tab_itm03.svg) no-repeat left top;
    background-size: 31px 43px;
}
.main_tab_cont1 li .icon.itm4 {
    background: url(../imgs/main/main_tab_itm04.svg) no-repeat left top;
    background-size: 40px 37px;
}
.main_tab_cont1 li .icon.itm5 {
    background: url(../imgs/main/main_tab_itm05.svg) no-repeat left top;
    background-size: 46px 50px;
}
.main_tab_cont1 li .icon.itm6 {
    background: url(../imgs/main/main_tab_itm06.svg) no-repeat left top;
    background-size: 42px 42px;
}
.main_tab_cont1 li .icon.itm7 {
    background: url(../imgs/main/main_tab_itm07.svg) no-repeat left top;
    background-size: 28px 43px;
}
.main_tab_cont1 li .icon.itm8 {
    background: url(../imgs/main/main_tab_itm08.svg) no-repeat left top;
    background-size: 40px 37px;
}
.main_tab_cont1 li .icon.itm9 {
    background: url(../imgs/main/main_tab_itm09.svg) no-repeat left top;
    background-size: 44px 37px;
}
.main_tab_cont1 li .icon.itm10 {
    background: url(../imgs/main/main_tab_itm10.svg) no-repeat left top;
    background-size: 40px 42px;
}
.main_tab_cont1 li .icon.itm11 {
    background: url(../imgs/main/main_tab_itm11.svg) no-repeat left top;
    background-size: 38px 36px;
}
.main_tab_cont1 li .icon.itm12 {
    background: url(../imgs/main/main_tab_itm12.svg) no-repeat left top;
    background-size: 43px 38px;
}
.main_tab_cont1 li .icon.itm13 {
    background: url(../imgs/main/main_tab_itm13.svg) no-repeat left top;
    background-size: 37px 32px;
}
.main_tab_cont1 li .icon.itm14 {
    background: url(../imgs/main/main_tab_itm14.svg) no-repeat left top;
    background-size: 40px 46px;
}
.main_tab_cont1 li .icon.itm15 {
    background: url(../imgs/main/main_tab_itm15.svg) no-repeat left top;
    background-size: 40px 39px;
}
.main_tab_cont1 li .icon.itm16 {
    background: url(../imgs/main/main_tab_itm16.svg) no-repeat left top;
    background-size: 28px 43px;
}
.main_tab_cont1 .tit02 {
    margin-bottom: 15px;
}

.main4 {
    padding: 150px 3.5vw;
}
.main4 .main_tab {
    margin-top: 25px;
}

.main5 ul {
    margin: 0 -20px;
    margin-bottom: -40px;
}
.main5 ul > li {
    width: calc(25% - 40px);
    padding: 56px 0 50px;
    margin: 0 20px -40px;
    border-radius: 5px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.14);
    background: #ffffff;
}
.main5 ul > li .icon_box.itm1 {
    background: url(../imgs/main/main_icon01.svg) no-repeat center center;
    background-size: 40px 40px;
}
.main5 ul > li .icon_box.itm2 {
    background: url(../imgs/main/main_icon02.svg) no-repeat center center;
    background-size: 40px 45px;
}
.main5 ul > li .icon_box.itm3 {
    background: url(../imgs/main/main_icon03.svg) no-repeat center center;
    background-size: 40px 36px;
}
.main5 ul > li .icon_box.itm4 {
    background: url(../imgs/main/main_icon04.svg) no-repeat center center;
    background-size: 40px 40px;
}


.main5 ul.clearfix > li .icon_box {
    width: 108px;
    height: 108px;
    margin: auto;
    border-radius: 50%;
    background-color: #edf3f3;
}

.main5 .tit03 {
    margin: 24px 0 32px;
}

.main5 .txt03 {
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__f[class*="itm"] {
    width: 140px;
    padding-left: 55px;
    font-size: 16px;
    text-align: left;
}
.btn__f.itm01 {
    background: url(../imgs/icon/icon_bookmark.svg) no-repeat 20px center;
    background-size: 16px 19px;
}
.btn__f.itm02 {
    padding-left: 60px;
    background: url(../imgs/icon/icon_eye.svg) no-repeat 20px center;
    background-size: 22px 15px;
}
.btn__f.itm03 {
    background: url(../imgs/icon/icon_printer.svg) no-repeat 20px center;
    background-size: 17px 15px;
}
.btn__f.itm04 {
    background: url(../imgs/icon/icon_download.svg) no-repeat 20px center;
    background-size: 13px 16px;
}
.btn__f.itm05 {
    padding-left: 49px;
    background: url(../imgs/icon/icon_email.svg) no-repeat 20px center;
    background-size: 20px 15px;
}
.btn_wrap .btn__f {
    margin-right: 6px;
}
.btn_wrap .btn__f:last-child {
    margin-right: 0;
}

ul.clearfix > li {
    float: left;
    display: inline-block;
    vertical-align: top;
}

.list_box {
    margin-top: 20px;
}
.list_box > li, .list_box_toggle .list_toggle_hd {
    padding: 19px 65px 19px 25px;
    margin-top: 15px;
    border-radius: 6px;
    border: solid 1px #ebebeb;
    background: url(../imgs/icon/check_off.svg) no-repeat calc(100% - 25px) center;
    background-size: 15px 12px;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.33;
    z-index: 2;
    cursor: pointer;
}
.list_box_toggle .list_toggle_hd {
    padding: 12px 65px 12px 25px;
    line-height: 35px;
}
.list_box > li:first-child {
    margin-top: 0;
}
.list_box > li.active, .list_box_toggle > li.active .list_toggle_hd {
    border-color: #3ac5cc;
    background-image: url(../imgs/icon/check_on.svg);
}
.list_box > li .fl, .list_box_toggle > li .list_toggle_hd .fl {
    max-width: calc(100% - 120px);
}

/* list_box_toggle */
.list_box_toggle .list_toggle_hd {
    margin-top: 20px;
}
.list_box_toggle > li:first-child .list_toggle_hd {
    margin-top: 0;
}
.list_box_toggle .list_toggle_cont {
    display: none;
    padding: 24px 30px;
    margin-top: -6px;
    background: #f8f8f8;
}
.list_box_toggle .list_toggle_cont .form_wrap {
    margin-bottom: 15px;
}
.list_box_toggle .list_toggle_cont .form_wrap:last-child {
    margin-bottom: 0;
}
.list_box_toggle .list_toggle_cont .form_wrap label {
    vertical-align: top;
}

.txt_red {
    color: #ff3030;
}


.circle_num_itm {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-color: #f3f1f1;
    border: 3px solid transparent;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 44px;
}
.circle_num_itm.active {
    border-color: #3ac5cc;
    background-color: #ffffff;
}


.flex_type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex_type1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.flex_type2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.main_visual2 {
}
.main_visual2 .section_main {
    padding: 100px 3.5vw;
}
.main_visual2 .main_txt_box {
    width: calc(100% - 600px);
    min-width: 50%;
    padding-right: 50px;
    
}
.main_visual2 .main_img_box {
    width: 600px;
    max-width: 50%;
}
.main_visual2 .tit02 {
    margin: 20px 0 28px;
}
.box_fff {
    padding: 15px 20px;
    border-radius: 15px;
    background: #fff;
}
.main_visual2 .box_fff {
    margin: 45px 0 52px;
}
.tag_itm {
    padding: 12px 13px;
    margin-right: 15px;
    border-radius: 25px;
    background: #d8d8d8;
    font-size: 16px;
    line-height: 1;
    opacity: .5;
    transition: all .3s;
    cursor: default;
}
.tag_itm:hover {
    opacity: .78;
    text-decoration: underline;
}
.tag_itm:last-child {
    margin-right: 0;
}
.main5 .tit01 {
    padding: 100px 0 80px;
}


.tabs::after {
    content: "";
    clear: both;
    display: block;
}
.tab {
    float: left;
    display: inline-block;
    cursor: pointer;
}
.tviews > li {
  display: none;
}
.tviews > li.active {
  display: block;
}

#footer {
    margin-top: 180px;
}
.footer_top {
    padding-left: 136px;
    margin-bottom: 45px;
}
.foot_logo {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 114px;
    height: 38px;
    font-size: 16px;
}
.flex_box {
    display: flex;
    height: 54px;
    justify-content: space-between;
    align-items: flex-end;
}
.footer_bottom a {
    display: inline-block;
    margin: 24px 0;
    margin-right: 20px;
    color: #212121;
    font-size: 12px;
    font-weight: 500;
}

/**/


.form_wrap > .label {
    margin-bottom: 10px;
    color: #5c5c5c;
}


.form_wrap > .form_itm {
    display: inline-block;
    float: left;
}
.form_wrap > .form_itm:last-child {
    margin-right: 0;
}

.attach_list > li {
    padding: 12px 30px 12px 75px;
    margin-top: 10px;
    border: solid 1px #ebebeb;
    border-radius: 6px;
    background: url(../imgs/icon/icon_attach.svg) no-repeat 30px center;
    background-size: 15px 17px;
    font-size: 15px;
    text-decoration: underline;
    line-height: 1.33;
    cursor: pointer;
}
.attach_list.s > li {
    padding: 8px 20px 8px 40px;
    margin-top: 8px;
    background: url(../imgs/icon/icon_attach.svg) no-repeat 14px center;
    background-size: 14px 15px;
    font-size: 13px;
}
.attach_list.s > li:first-child {
    margin-top: 0;
}

.attach_list > li.active {
    border-color: #3ac5cc;
    background-image: url(../imgs/icon/check_on.svg);
}

.contract_view_hd .label_contract_attach {
    display: inline-block;
    width: 62px;
    line-height: 45px;
}
.contract_view_hd .attach_list {
    display: inline-block;
    width: 400px;
    max-width: calc(100% - 66px);
}
.contract_view_hd .attach_list > li {
    padding: 12px 75px;
    margin-top: 0;
    text-align: center;
}






.dis_none {
    display: none;
}
.dis_none.active {
    display: block;
}


/* bt_tab */
.tab_wrap.tab_view {
    z-index: 1;
}

.tab_view > .tabs {
    overflow: hidden;
}
.tab_view > .tabs > .tab {
    float: left;
    padding: 15px 75px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 5px 5px 0 0;
    opacity: .4;
    color: #000;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
}
.tab_view > .tabs > .tab.active {
    border: 1px solid #d0d2db;
    border-bottom: 1px solid transparent;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    font-weight: bold;
    opacity: 1;
    z-index: 3;
}
.tab_view > .tviews {
    margin-top: -2px;
    border-top: 2px solid #ebebeb;
}
.tab_view > .tviews > .tview {
    margin-top: 40px;
}
.edit_view_wrap {
    max-width: 1920px;
    padding-left: 360px;
    padding-right: 587px;
    margin: auto;
    transition: padding 0.3s;
}
@media(max-width: 1920px) {
    .edit_view_wrap {
        padding-left: 18.75%;
    }
}
.edit_view {
    width: 1000px;
    margin: auto;
    padding: 60px 70px;
    border: solid 2px #ebebeb;
}
.edit_search {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    max-width: 18.75%;
    height: 100%;
    padding: 23px 30px;
    background: #ebebeb;
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: 9;
}
.edit_search > .inner {
    height: 100%;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
}

.edit_search.active {
    transform: translateX(0);
}
.edit_search.active > .inner {
    opacity: 1;
    visibility: visible;
}
.edit_search .input_search {
    margin: 13px 0 50px;
}
.btn_sec {
    position: absolute;
    top: 50%;
    width: 34px;
    height: 100px;
    margin-top: -50px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 19px;
    background-color: #d7d7d7;
    cursor: pointer;
}
/* btn_left */
.edit_search .btn_sec {
    right: 0;
    margin-right: -17px;
    background-image: url(../imgs/icon/icon_arrow_right.svg);
}
.edit_search.active .btn_sec {
    background-image: url(../imgs/icon/icon_arrow_left.svg);
}
/* btn_right */
.edit_info .btn_sec {
    left: 0;
    margin-left: -17px;
    background-image: url(../imgs/icon/icon_arrow_left.svg);
}
.edit_info.active .btn_sec {
    background-image: url(../imgs/icon/icon_arrow_right.svg);
}
.edit_info {
    position: absolute;
    top: 0;
    right: 0;
    width: 560px;
    height: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: all 0.3s;
    z-index: 9;
}
.edit_info > .inner {
    height: 100%;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    background: #fff;
}
.edit_info.active {
    transform: translateX(0);
}
.edit_info.active > .inner {
    opacity: 1;
    visibility: visible;
}
.edit_info .step_wrap > .tabs > .tab {
    width: 33.3333%;
    padding: 20px 0;
}
.edit_info .step_wrap .step_hd {
    margin: 0;
}
.edit_info .step_wrap > .tviews {
    padding: 35px 0 0;
}

.step_content .percent_wrap {
    margin-top: 20px;
    padding-right: 70px;
}
.report_ul_wrap {
    width: 320px;
    max-width: 100%;
    margin-top: 20px;
}
.report_ul_wrap .report_ul > li.hd_itm {
    height: 34px;
    font-size: 15px;
}
.report_ul_wrap .report_ul > li {
    font-size: 13px;
}

.report_ul_wrap .report_ul > li.hd_bg {
    height: 34px;
    font-size: 15px;
    line-height: 34px;
}
.report_ul_wrap .report_ul > li > div {
    padding-top: 5px;
    padding-bottom: 5px;
}
.report_ul_wrap .report_ul > li > .itm2, .report_ul_wrap .report_ul > li > .itm3 {
    height: 28px;
}
.report_ul_wrap .report_ul > li div .icon_chk {
    background-size: 12px 10px;
}


.nav_bar {
    width: 100%;
    height: 30px;
}
.nav_bar::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    margin-top: -2px;
    background-color: #f3f3f3;
}
.nav_bar > li {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 16px;
    border-radius: 6px;
    background-color: #e6e6e6;
    transform: translateY(-50%);
    font-size: 0;
    text-align: center;
    line-height: 30px;
}
.nav_bar > li.itm01 {
    left: 0;
}
.nav_bar > li.itm02 {
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav_bar > li.itm03 {
    right: 0;
}
.nav_bar > li.active {
    width: auto;
    height: 100%;
    font-size: 13px;
    border-radius: 6px;
    background-color: #f6af3d;
}

.nav_bar > li.itm01.active {
    width: 120px;
}
.nav_bar > li.itm02.active {
    width: 94px;
}
.nav_bar > li.itm03.active {
    width: 104px;
}

.sample_edit_box {
    height: 90px;
    border: 1px solid #979797;
    color: #aaaaaa;
    font-size: 18px;
    text-align: center;
    line-height: 90px;
}

.contract_report {
    padding: 0 50px;
    border: 2px solid #ebebeb;
    text-align: left;
}
.contract_report .section_hd {
    padding: 40px 0;
    margin-bottom: 40px;
    border-bottom: 1px solid #e0e0e0;
}

.percent_wrap {
    width: 470px;
    margin-top: 7px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.percent_wrap > p {
    float: left;
    display: inline-block;
    vertical-align: top;
    line-height: 22px;
}
.percent {
    width: calc(100% - 70px);
    height: 22px;
    margin-left: 13px;
    border-radius: 11px;
    background-color: #f4f4f4;
}
.percent .percent_itm {
    width: 90%;
    height: 22px;
    border-radius: 11px;
    background-color: #40c9d0;
}







.list_line > li {
    padding: 16px 0 15px;
    border-bottom: 1px solid #ebebeb;
}
.list_line > li .line_hd {
    max-width: calc(100% - 120px);
}

.list_line > li .line_hd .label {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.flex_type_ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_line_toggle .list_toggle_hd {
    padding: 16px 0 15px;
    margin-top: 0;
    border: none;
    border-bottom: 1px solid #ebebeb;
    border-radius: 0;
}
.list_line_toggle > li.active .list_toggle_hd {
    border-color: #ebebeb;
}






.report_ul {
    text-align: center;
}
.report_ul > li {
    display: flex;
    align-items: center;
    color: #585858;
}
.report_ul > li:last-child {
    padding-bottom: 10px;
}
.report_ul > li > div {
    display: inline-block;
    float: left;
    padding: 8.5px 0;
}
.report_ul > li > .itm1 {
    width: calc(100% - 132px);
    padding-left: 15px;
    text-align: left;
}
.report_ul > li > .itm2, .report_ul > li > .itm3 {
    width: 66px;
    height: 38px;
}
.report_ul > li.hd_itm {
    height: 44px;
    padding: 0;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
}
.report_ul > li.hd_itm > div {
    height: 28px;
    line-height: 28px;
}
.report_ul > li.hd_itm .itm1 {
    padding-left: 0;
}
.report_ul .hd_bg {
    height: 44px;
    padding: 0 15px;
    margin: 10px 0;
    background-color: #f8f8f8;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    line-height: 44px;
}
.report_ul .hd_bg:first-child {
    margin-top: 0;
}

.report_ul .itm1 {
    text-align: left;
}

.report_ul .icon_chk {
    width: 100%;
    height: 100%;
    background: url(../imgs/icon/icon_check.svg) no-repeat center center;
    background-size: 16px 13px;
}
.report_ul > li > .itm3 .icon_chk {
    background: url(../imgs/icon/icon_check_red.svg) no-repeat center center;
    background-size: 16px 13px;
}


.border {
    border: 1px solid #e0e0e0;
}

.bor_top {
    border-top: 1px solid #e0e0e0;
}
.bor_btm {
    border-bottom: 1px solid #e0e0e0;
}
.pad45 {
    padding: 45px 0;
}

.list_simple > li {
    padding: 2px 0;
}


.tit_round {
    display: inline-block;
    padding: 0 15px;
    height: 30px;
    border: 2px solid #2e2e2e;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
}
.toggle_inb {
    margin-top: 20px;
}
.toggle_inb .tit_round {
    margin: 15px 0 5px;
}
.toggle_inb .toggle_hd {
    display: inline-block;
    padding: 0 18px 0 0;
    margin-top: 10px;
    border: none;
}
.toggle_inb .toggle_cont {
    margin-top: 6px;
}
.toggle_inb .toggle_hd:before, .toggle_inb .toggle_hd.active:before {
    content: '';
}
.toggle_inb .toggle_hd:after {
    right: 0;
    width: 6px;
    height: 6px;
    margin-top: -4px;
}
.edit_info > .inner, .edit_info .tab_wrap, .edit_info .tview {
    height: 100%;
} 
.edit_info .tviews {
    height: calc(100% - 60px);
}
.edit_info .contract_sum_cont {
    height: calc(100% - 60px);
}
.edit_info .btn_wrap {
    position: absolute;
    right: 0;
    bottom: 0;
}
.section .h1 + .h2 {
    margin: 5px 0;
}
/* mypage */
.section_menu_wrap.main_tab {
    margin: 15px 0 30px;
}
.section_menu_wrap.main_tab ul > li {
    width: 25%;
    padding: 0;
}
.section_menu_wrap.main_tab ul > li > a {
    padding: 28px 0;
}
.cont_box.type2 {
    padding: 20px 30px;
}

.state_cmplt, .state_wait {
    display: inline-block;
    width: 70px;
    height: 28px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
}
.state_cmplt {
    background: #ffcf67;
}
.state_wait {
    background: #d2cdc3;
}
.table.border th, .table.border td {
    padding: 10px 20px;
    font-size: 13px;
    vertical-align: middle;
}
table .sub {
    text-align: left;
}
.table_contact_list th:nth-child(1), .table_board_list th:nth-child(1), .table_board_list th:nth-child(4) {
    width: 80px;
}
.table_contact_list th:nth-child(3) {
    width: 110px;
}
.table_contact_list th:nth-child(4), .table_board_list th:nth-child(3) {
    width: 160px;
}


.table_contract {
    width: 100%;
    padding: 0 20px;
    border-collapse: separate;
    border: 1px solid #ebebeb;
    font-size: 13px;
}
.table_contract th, .table_contract td {
    padding: 15px 10px;
    border-bottom: 1px solid #ebebeb;
    text-align: left;
    vertical-align: middle;
}
.table_contract tr:last-child th, .table_contract tr:last-child td {
    border-bottom: none;
}
.table_contract .th {
    width: 90px;
    padding-right: 0;
    font-weight: bold;
    text-align: left;
}
.table_contract_itm .th, .table_contract_itm .td {
    float: left;
    display: inline-block;
}
.table_contract_itm .td {
    width: calc(50% - 90px);
}
.table_contract .sub {
    font-size: 16px;
    font-weight: bold;
}
.contract_view_content {
    min-height: 400px;
}
.contact_ans {
    margin-top: 15px;
    background: #efefef;
}
.contact_ans .contract_view_content {
    min-height: 180px;
    padding: 24px 0;
}
.table_contract.contact_ans td {
    border-color: #cdcdcd;
}
.form_input_btn74 input[type=text].form_itm {
    width: calc(100% - 68px);
    margin-right: -6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form_wrap.form_input_btn74 .btn__f {
    width: 74px;
    margin-left: 0;
    font-size: 12px;
}
.btn_wrap.mar_top30.bor_top {
    padding-top: 30px;
}
.table_wrap {
    width: 100%;
    padding-bottom: 20px;
    overflow-x: auto;
}
.table_myhistory {
    width: 1000px;
}
table.table.table_myhistory th, table.table.table_myhistory td {
    padding: 10px 4px;
}
.icon_clip {
    display: inline-block;
    width: 8px;
    height: 13px;
    background: url(../imgs/icon/icon_clip.svg) no-repeat center center;
    background-size: 8px 13px;
    vertical-align: middle;
}
.section_mypage .step_wrap .step_hd {
    margin: 30px 0;
}
.section_search_filter {
    margin-bottom: 30px;
}
.section_search_filter .dvs__3_m > label, .section_search_filter .dvs__3_m > div {
    display: inline-block;
}
.section_search_filter .dvs__3_m > label {
    margin-right: 10px;
    font-weight: 500;
}
.search_filter_btn_wrap {
    width: 345px;
    max-width: 100%;
    padding-right: 45px;
}
.search_filter_btn_wrap .btn_filter {
    position: absolute;
    top: 0;
    right: 0;
}
.btn_filter {
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 6px;
    background: url(../imgs/icon/icon_filter_nav.svg) no-repeat center center;
    background-size: 22px 22px;
}


.dis_inb.mar_r10 {
    margin-right: 6px;
}
.dis_inb.mar_l10 {
    margin-left: 6px;
}


.cont_box .form_ul .hd {
    margin: 15px 0 5px;
}
.cont_box .form_ul .hd .b {
    margin-bottom: 5px;
}
.cont_box .form_ul li > .hd {
    margin: 5px 0;
}

.section__board_view .table_contract {
    border-radius: 6px;
}
.section__board_view .table_contract .contract_view_content {
    font-size: 1rem;
}

/* replay */
.reply_box_bg {
    padding: 10px;
    background: #efefef;
}

.reply_box_bg textarea {
    height: 120px;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 13px;
}
.replay_list li {
    margin-bottom: 15px;
}
.replay_list li:last-child {
    margin-bottom: 0;
}
.replay_list > li .replay_box {
    padding: 15px 20px;
    border: 1px solid #c0c0c0;
    border-radius: 6px;
}
.replay_list > li .replay_cont {
    margin-top: 15px;
}
.reply_hd_btn .btn_replay_s {
    display: inline-block;
    padding-right: 6px;
    margin-right: 6px;
    border-right: 1px solid #000;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.reply_hd_btn .btn_replay_s:last-child {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}
/* replay_list */
.replay_list_dept li {
    padding-left: 40px;
}
.replay_list .replay_writing .btn_replay {
    display: inline-block;
    padding-left: 23px;
    margin: 13px 0 10px -20px;
    background: url(../imgs/icon/icon_reply.svg) no-repeat left top;
    background-size: 15px 13px;
    color: #797979;
    font-size: 13px;
    cursor: pointer;
}



.clearfix_2 > li {
    width: 50%;
}
.clearfix_3 > li {
    width: 33.3333%;
}


.replay_list_dept li .replay_box {
    border: none;
    background: #f6f6f6;
}


.form_line_ul {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border: 1px solid #ebebeb;
    border-radius: 6px;
}
.form_line_ul > li {
    padding: 15px;
    border-right: 1px solid #ebebeb;
    letter-spacing: -0.025em;
}
.form_line_ul > li:last-child {
    border-right: none;
}
.form_line_ul.clearfix_2 > li {
    padding: 25px 15px;
}

.form_line_ul > li input + label {
    font-size: 14px;
}


.modal_hd {
    padding: 4px 0 8px;
    margin-bottom: 15px;
}

.txt_s + .btn__f.xs {
    font-size: 13px;
}




/* btn_social_login */
.btn__weChat {
    background: url(../imgs/join/wechat.svg) no-repeat;
    background-size: 18px 16px;
    background-color: #3bce00;
}
.btn__kakao {
    background: url(../imgs/join/kakao.svg) no-repeat;
    background-size: 18px 16px;
    background-color: #ffdc00;
}
.btn__facebook {
    background: url(../imgs/join/facebook.svg) no-repeat;
    background-size: 18px 16px;
    background-color: #445e98;
}
.btn_social_login [class*="btn__"] {
    padding: 0 80px;
    background-position: 30px center;
    color: #fff;
}





/* join_input_wrap */
.join_itm_email {
    background: url(../imgs/join/icon_join_email.svg) no-repeat;
    background-size: 14px 10px;
}
.join_itm_pw {
    background: url(../imgs/join/icon_join_padlock.svg) no-repeat;
    background-size: 12px 16px;
}
.join_itm_user {
    background: url(../imgs/join/icon_join_user.svg) no-repeat;
    background-size: 12px 14px;
}
.join_itm_mobile {
    background: url(../imgs/join/icon_join_phone.svg) no-repeat;
    background-size: 11px 18px;
}

.join_input_wrap > li {
    padding-left: 30px;
    background-position: left center;
}









.icon_email_img img {
    max-width: 100px;
}


.modal_terms_box {
    height: 400px;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid #ebebeb;
}
.modal_terms_check_list .fl {
    width: calc(100% - 60px);
}
.btn_terms {
    width: 60px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.company_info > li {
    padding-left: 35px;
    margin-bottom: 15px;
}
.company_info > li:last-child {
    margin-bottom: 0;
}
.info_icon_map {
    background: url(../imgs/icon/info_icon_map.svg) no-repeat left center;
    background-size: 11px 16px;
}
.info_icon_tell {
    background: url(../imgs/icon/info_icon_tell.svg) no-repeat left center;
    background-size: 14px 14px;
}
.info_icon_fax {
    background: url(../imgs/icon/info_icon_fax.svg) no-repeat left center;
    background-size: 14px 14px;
}
.info_icon_mail {
    background: url(../imgs/icon/info_icon_mail.svg) no-repeat left center;
    background-size: 14px 10px;
}
.line_bar {
    width: 60px;
    height: 2px;
    margin-left: -30px;
    border-radius: 5px;
    background: #000000;
}

.dl_directions dt {
    width: 60px;
    margin-bottom: 10px;
    font-weight: bold;
}

.dl_directions dd {
    width: calc(100% - 60px);
    margin-bottom: 15px;
}

.hd_line {
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 25px;
}
.hd_line::after {
    content: "";
    display: block;
    position: absolute;
    left: -30px;
    bottom: 0;
    width: 60px;
    height: 5px;
    border-radius: 5px;
    background-color: #000000;
    z-index: 2;
}
.section_head2 {
    margin: 80px auto 0;
}

.bus_blue {
    color: #1b18de;
}
.bus_green {
    color: #10b146;
}

.terms_cont_box {
    min-height: 650px;
    padding: 40px;
    border: solid 2px #ebebeb;
    font-size: 18px;
}
.section_company_introduction section {
    margin-top: 120px;
} 


.company_history > li {
    padding-bottom: 50px;
}
.company_history > li:last-child {
    padding-bottom: 0;
}

.company_history > li .tit {
    float: left;
    display: inline-block;
    width: 235px;
    padding-left: 60px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.13;
}
.company_history > li .tit::before, .company_history > li::before {
    content: "";
    display: block;
    position: absolute;
}
.company_history > li .tit::before {
    top: 2px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 4px solid #ff3030;
    border-radius: 50%;
    background: #fff;
}
.company_history > li::before {
    top: 2px;
    left: 14px;
    width: 2px;
    height: 100%;
    background-color: #999999;
}
.company_history > li:last-child::before {
    display: none;
}

.company_history > li .cont {
    float: left;
    display: inline-block;
    width: calc(100% - 235px);
    font-size: 20px;
    line-height: 2;
}

.section_head2, .hd_line {
    color: #2c2e30;
    letter-spacing: -0.025em;
}

.disclaimer_notice_cont {
    padding-top: 65%;
    background: url(../imgs/section/disclaimer_notice_bg.png) no-repeat center center;
    background-size: 100% 100%;
}
.disclaimer_notice_cont .cont {
    display: table;
    width: 100%;
    height: 69.2%;
    margin-top: 20%;
}
.disclaimer_notice_cont .cont p {
    margin-top: -30px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    line-height: 1.39;
}

.m_block {
    display: none;
}
@media (max-width: 760px) {

    .disclaimer_notice_cont .cont p {
        font-size: 2.1vw;
    }
    .m_block {
        display: block;
    }
    .m_none {
        display: none;
    }
}
@media (max-width: 414px) {
    .disclaimer_notice_cont .cont p {
        padding: 20px;
        margin-top: -10px;
        font-size: 3vw;
    }
}



@media (max-width: 1200px) {
    #header .gnb > li {
        margin: 0 30px;
    }
    .btn__hd_menu {
        margin-left: 0;
    }
    .main_visual {
        padding: 188px 0 100px;
    }
    .main_h1 {
        font-size: 3.4vw;
    }
    .main_txt2 {
        font-size: 1.8vw;
    }
    .main_bg1 {
        top: calc(-50% - 8vw);
        right: -54%;
        width: 84vw;
        height: 84vw;
        transform: rotate(46deg);
    }
    .main_bg2 {
        top: calc(-50% - 12vw);
        right: -54%;
        width: 90vw;
        height: 90vw;
    }
    .main_menu {
        padding: 0 0 60px;
    }
    .main_menu.fixed {
        padding: 7px 10px;
    }
    .section_main.main4 .main_tab .tab {
        font-size: 16px;
    }
    .section_main.main4 .main_tab .tab:nth-child(6) {
        width: 16.2857%;
    }
    .section_main.main4 .main_tab .tab:nth-child(7) {
        width: 12.2857%;
    }
    .main_tab .tab {
        padding: 22px 0;
    }
    .main_tab .tviews {
        padding-top: 30px;
    }
    .main_tab .tviews .main_tab_cont1 {
        padding: 40px 35px;
    }
    .main4 {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .main_visual2 .main_txt_box {
        min-width: 55%;
    }
    .main_visual2 .main_img_box {
        max-width: 45%;
    }
    .main5 .tit01 {
        padding: 80px 0 40px;
    }
    .main5 ul.clearfix > li .icon_box {
        width: 80px;
        height: 80px;
    }
    .main5 ul > li {
        width: calc(25% - 30px);
        padding: 26px 24px 40px;
        margin: 0 15px -40px;
    }
    .main5 .tit03 {
        margin-top: 20px;
    }
    .main5 ul > li br {
        display: none;
    }
    .tit02 {
        font-size: 18px;
    }
    .main_tab_cont1 li:first-child {
        margin-left: -1.6%;
    }
    .main_tab_cont1 .tit02 {
        margin-bottom: 12px;
    }
    .footer_top {
        margin-bottom: 30px;
    }
    .footer_top .flex_box {
        display: block;
        height: auto;
    }
    .footer_top .box:first-child {
        margin-bottom: 10px;
    }
    .foot_logo {
        top: 0;
        bottom: auto;
    }
    
    .main_menu_ul > li {
        padding-top: 86px;
        transform: scale(0.8);
    }
    .main_menu_ul > li > * {
        transform: scale(1.2);
    }
    
}


@media (max-width: 1024px) {
    .section_head2, .hd_line {
        font-size: 24px;
    }
    .hd_line {
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
    .section_head2 .tit30 {
        font-size: 24px;
    }
    .hd_line::after, .line_bar {
        left: -15px;
        width: 40px;
        height: 3px;
        border-radius: 5px;
        background-color: #000000;
    }
    .line_bar {
        left: 0;
        margin-left: -15px;
    }
    .section_company_introduction section {
        margin-top: 60px;
    }
    .company_history {
        margin-top: 30px;
    }
}

@media (max-width: 980px) {
    #header .section {
        padding: 24px 0;
        padding-left: 140px;
    }
    #header .logo {
        max-width: 120px;
        font-size: 14px;
    }
    #header .gnb > li {
        margin: 0 25px;
    }
    .btn__hd_menu {
        width: 120px;
    }
    
    .main5 ul {
        margin: 0 -10px;
    }
    .main5 ul > li {
        width: calc(25% - 20px);
        padding: 26px 11px 40px;
        margin: 0 10px -40px;
    }
    .main5 .tit03 {
        margin: 15px 0 20px;
    }
    .section1 {
        margin-top: 60px;
    }
    .step_wrap .step_hd > li {
        width: 18%;
        padding: 20px 0;
    }
    .step_wrap .step_hd > li:nth-child(1) {
        width: 22%;
    }
    .step_wrap .step_hd > li:nth-child(2) {
        width: 27%;
    }
    .step_wrap .step_hd > li:nth-child(5) {
        width: 15%;
    }
    .cont_box {
        padding: 30px;
    }
    .toggle_cont > .dvs__2 {
        width: 100%;
        margin-bottom: 40px;
    }
    .toggle_cont > .dvs__2:last-child {
        margin-bottom: 0;
    }
    #footer {
        margin-top: 60px;
    }
    .terms_cont_box {
        padding: 25px;
    }
    .section_head2 {
        margin-top: 60px;
    }
    
}


.ham {
    display: none;
    position: absolute;
    top: 3.5vw;
    right: 0;
    width: 22px;
    height: 17px;
    margin-top: 8px;
}
.ham_line {
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    width: 100%;
    height: 3px;
    border-radius: 6px;
    background: #d8d8d8;
}
.ham:before, .ham:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 16px;
    height: 3px;
    margin-left: -8px;
    border-radius: 6px;
    background: #d8d8d8;
}
.ham:before {
    top: 0;
    background: #40c9d0;
}
.ham:after {
    bottom: 0;
}
@media (max-width: 768px) {
    #header .gnb > li {
        margin: 0 15px;
    }
    .main5 ul > li {
        width: calc(50% - 20px);
        padding: 26px 11px 40px;
        margin: 0 10px -40px;
    }
    .main_txt2 {
        font-size: 16px;
    }
    .main_visual2 .main_txt_box {
        width: 65%;
        padding-right: 25px;
    }
    .main_visual2 .main_img_box {
        width: 35%;
    }
    .main_visual2 .tit02 {
        margin: 10px 0 14px;
    }
    .main_visual2 .box_fff {
        margin: 25px 0 26px;
    }
    .main_tab .tab {
        width: 13.2857%;
    }
    .section_main.main4 .main_tab .tab:nth-child(1) {
        width: 12.2857%;
    }
    .section_main.main4 .main_tab .tab:nth-child(4) {
        width: 15.2857%;
    }
    .section_main.main4 .main_tab .tab:nth-child(6) {
        width: 21.2857%;
    }
    .section_main.main4 .main_tab .tab:nth-child(7) {
        width: 11.2857%;
    }
    .tag_itm {
        padding: 10px 12px;
        margin-right: 12px;
        font-size: 15px;
    }
    .tit01 {
        font-size: 22px;
    }
    .tit02 {
        font-size: 18px;
    }
    .tit03 {
        font-size: 16px;
    }
    .txt01 {
        font-size: 16px;
    }
    .txt03 {
        font-size: 14px;
    }
    .main5 .tit01 {
        padding: 60px 0 30px;
    }
    .main5 ul {
        margin: 0;
        padding-bottom: 40px;
    }
    .main5 ul > li {
        width: calc(50% - 20px);
        padding: 3px 11px 16px;
        margin: 0 10px 20px;
    }
    .main5 ul > li .icon_box {
        transform: scale(0.6);
    }
    .main5 .tit03 {
        margin: -6px 0 2px;
    }
    .main5 .txt03 {
        height: 124px;
    }
    .main_visual2 .box_fff {
        font-size: 15px;
        text-align: left;
    }
    .main_visual2 .box_fff .color {
        display: inline-block;
        margin-bottom: 8px;
    }
    .footer_top {
        padding-left: 0;
        margin-bottom: 15px;
        font-size: 14px;
    }
    .foot_logo {
        position: relative;
        margin-bottom: 5px;
    }
    .footer_bottom a {
        margin: 15px 0;
        margin-right: 5px;
    }
    .company_history > li {
        padding-bottom: 30px;
    }
    .company_history > li .tit {
        width: 155px;
        padding-left: 50px;
        font-size: 24px;
    }
    .company_history > li .cont {
        width: calc(100% - 155px);
        font-size: 18px;
    }
    .company_history > li::before {
        left: 12px;
    }
    .company_history > li .tit::before {
        width: 24px;
        height: 24px;
    }
}



.m_block {
    display: none;
}
@media (max-width: 760px) {
    #header .logo {
        top: 3.5vw;
        height: 27px;
        transform: translateY(0);
    }
    .btn__hd_menu {
        position: absolute;
        top: 3.5vw;
        right: 0;
    }
    #header .section {
        padding: 0;
    }
    .header_menu {
        width: 100%;
        float: none;
    }
    #header .gnb {
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    #header .gnb > li {
        float: none;
        margin: 0 8px;
        font-size: 14px;
    }
    .btn__hd_menu {
        position: absolute;
        top: 3.5vw;
        right: 50px;
        width: 50px;
        height: 24px;
        margin-top: 6px;
        line-height: 22px;
        font-size: 10px;
    }

    

    /*  */
    .main_visual {
        padding: 140px 0 45px;
    }
    .section_main.flex_type {
        display: block;
    }
    .section_main .main_txt_box.fl {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
    .main_h1 {
        font-size: 24px;
    }
    .main_txt2 {
        margin-top: 28px;
        margin-bottom: 28px;
        font-size: 17px;
    }
    .section_main .fl {
        float: none;
        width: 100%;
    }
    .btn_video_play {
        width: 60px;
        height: 60px;
        background-size: 16px auto;
    }
    .main_bg1 {
        top: 30%;
        right: -64%;
        width: 100vw;
        height: 100vw;
        transform: rotate(46deg);
    }
    .main_bg2 {
        top: -31px;
        left: -72%;
        width: 120vw;
        height: 120vw;
        border-radius: 20%;
        transform: rotate(150deg);
    }
    /*  */
    .main_menu.main2 .main_menu_ul > li {
        width: 20%;
        padding-top: 38px;
        margin-bottom: 20px;
        background-size: 22px auto;
        transform: scale(1);
    }
    .main_menu.main2 .main_menu_ul > li.li_itm02 {
        background-size: 26px auto;
    }
    .main_menu.main2 .main_menu_ul > li.li_itm03 {
        background-size: 30px auto;
    }
    .main_menu_ul > li > * {
        transform: scale(1);
    }
    .main_menu_ul > li .txt_itm {
        height: 28px;
        margin-bottom: 2px;
        font-size: 12px;
    }
    .main_menu_ul > li .btn_p_blue {
        font-size: 10px;
    }
    /**/
    .main_visual2 .main_txt_box {
        padding-right: 0;
    }
    .box_fff + .mar_r {
        margin-right: 0;
    }
    .tag_itm {
        padding: 10px 10px;
        margin-right: 8px;
        font-size: 14px;
    }
    /**/
/*
    .main5 ul > li {
        width: calc(100%);
        padding: 26px 11px 40px;
        margin: 0 0 20px;
    }
*/
    
    .circle_num_itm {
        width: 40px;
        height: 40px;
        border-width: 2px;
        font-size: 16px;
        line-height: 36px;
    }
    .clearfix_itm > [class*=itm].circle_num_itm {
        margin-right: 15px;
    }
    .toggle_hd:before {
        top: 18px;
        margin-top: 0;
    }
    .toggle_hd:after {
        top: 21px;
        margin-top: 0;
    }
    
}
@media (max-width: 760px) {

    #header .gnb > li {
        float: none;
        margin: 0 7px;
        font-size: 12px;
    }
    .ham {
        display: block;
    }
    .main_menu {
        padding: 0 0 32px;
    }
    .main_visual2 .box_fff {
        margin: 20px 0 20px;
    }
    .main_visual2 .section_main, .main4 {
        padding: 60px 3.5vw;
    }
    .section_main .main_img_box {
        display: block;
        max-width: 100%;
        margin: 30px auto 0;
    }
    .main_tab .tabs {
        overflow-x: auto;
        white-space: nowrap;
    }
    .section_main.main4 .main_tab .tab {
        float: none;
        width: auto !important;
        padding: 13px 15px 15px;
        font-size: 15px;
    }
    .main_tab .tabs::before {
        bottom: 1px;
        height: 2px;
    }
    .section_main.main4 .main_tab .tab::after {
        height: 3px;
    }

    .m_block {
        display: block;
    }
    .m_none {
        display: none;
    }
    .step_wrap.step_itm4 .step_hd > li {
        width: 24.5%;
    }
    .step_wrap.step_itm4 .step_hd > li:first-child {
        width: 23%;
    }
    .step_wrap.step_itm4 .step_hd > li:last-child {
        width: 27.5%;
    }
    .step_wrap .step_hd > li {
        padding: 12px 0;
    }
    .step_hd > li .tit01 {
        margin-bottom: 4px;
        font-size: 12px;
    }
    .step_hd > li .h2 {
        font-size: 12px;
    }
    .cont_box {
        padding: 20px;
    }
    .cont_box .txt_l {
        font-size: 15px;
    }
    .cont_box .txt_l br {
        display: none;
    }
    .btn__active, .btn__cancel {
        width: 120px;
        height: 50px;
        line-height: 48px;
    }
    .fr > .btn__active, .tr > .btn__active {
        margin-left: 11px;
    }
    .dropzone {
        height: 80px;
        font-size: 14px;
    }
    .attach_list > li {
        padding: 8px 30px 8px 41px;
        background: url(../imgs/icon/icon_attach.svg) no-repeat 16px center;
        background-size: 13px 14px;
        font-size: 14px;
    }
    .icon_check_p {
        padding-left: 25px;
        background: url(../imgs/icon/check_on.svg) no-repeat left 6px;
        background-size: 16px 13px;
    }
    input[type=text].input_search {
        padding-left: 42px;
        background-position: 16px center;
    }
    [class*="btn__"].xs {
        width: auto;
        padding: 0 12px;
    }
    .btn_lg {
        width: 140px;
        height: 50px;
        line-height: 48px;
    }
    .btn_more:before {
        padding-left: 30px;
    }
    .btn_more:after {
        right: 28px;
    }
    .mar_ver3 {
        margin: 20px 0 15px;
    }
    .list_box > li, .list_box_toggle .list_toggle_hd {
        padding: 8px 40px 8px 15px;
        background-position: calc(100% - 16px) 19px;
        background-size: 14px auto;
        background-color: #fff;
        font-size: 15px;
    }
    .list_box_toggle .list_toggle_cont {
        padding: 20px 15px 15px;
    }
    .list_toggle_cont .form_wrap input[type=checkbox]+label,
    .list_box_toggle  .form_wrap input[type=radio]+label {
        font-size: 14px;
    }
    .list_toggle_hd .fl {
        font-size: 14px;
        line-height: 1.33;
    }
    .txt_notice > .txt_red + p {
        max-width: calc(100% - 30px);
    }
    .txt_notice > .txt_red + p br {
        display: none;
    }
    .form_ul > li .li_hd, .form_ul > li .li_cont {
        float: none;
        display: block;
        width: 100%;
    }
    .input_s.form_itm.w03 {
        max-width: calc(100% - 112px);
    }

    .section_head2 {
        margin-top: 40px;
        font-size: 18px;
    }
    .hd_line {
        padding-bottom: 20px;
        margin-bottom: 15px;
        font-size: 18px;
    }
    .hd_line::after, .line_bar {
        left: 0;
        width: 30px;
    }
    .line_bar {
        left: 0;
        margin: 25px 0;
    }
    .section_head2 .tit30 {
        font-size: 18px;
    }
    .terms_cont_box {
        padding: 20px;
        font-size: 15px;
    }
    .section_company_introduction section {
        margin-top: 40px;
    }
    .company_history > li {
        padding-bottom: 30px;
    }
    .company_history > li .tit {
        float: none;
        display: block;
        width: 100%;
        padding-left: 35px;
        margin-bottom: 15px;
        font-size: 20px;
    }
    .company_history > li .cont {
        float: none;
        display: block;
        width: 100%;
        padding-left: 35px;
        font-size: 16px;
        line-height: 1.44;
    }
    .company_history > li::before {
        left: 9px;
    }
    .company_history > li .tit::before {
        width: 18px;
        height: 18px;
        border-width: 3px;
    }
    .dvs_m_1 > [class*="dvs__"] {
        float: none;
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }
    .dvs_m_1 > [class*="dvs__"]:last-child {
        margin-bottom: 0;
    }
    .company_news {
        margin-top: 30px;
    }
}
